{% extends 'arbol_item.html' %}
{% load staticfiles %}



{% block content %}

<div class="title_right" style="background-color:#ccc">
    <div class="x_title">

        <a href='/tramites/listado'><strong>LISTADO</strong></a> --
        <strong>TRAMITE</strong>

    </div>
</div>

<div class="clearfix"></div>
<form id="frm" method="post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><strong>DETALLE DEL TRAMITE</strong></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% for msg in messages %}
                    <strong>{{ msg }}</strong>
                    <br>
                {% endfor %}
                <br>
                <input id="id_cliente" name="cliente" type="hidden" value="{{ cliente.id }}" />
            {{ form.persona.errors }}

                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Tipo de Trámite</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form.tipo }}
                        </div>{{ form.tipo.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Fecha de Turno</label>
                            <!--div class="input-group input-append date col-md-12 col-sm-12 col-xs-12" id="dateRangePicker"-->
                                {{ form.fecha_turno }}
                                <!--span class="input-group-addon add-on"><span class="fa fa-calendar has-feedback-right"></span></span-->
                            <!--/div-->{{ form.fecha_turno.errors }}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Fecha Alarma</label>
                             <!--div class="input-group input-append date col-md-12 col-sm-12 col-xs-12" id="dateRangePicker"-->
                                {{ form.fecha_alarma }}
                                <!--span class="input-group-addon add-on"><span class="fa fa-calendar has-feedback-right"></span></span-->
                            <!--/div-->{{ form.fecha_alarma.errors }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label for="id_estado">Estado:</label>
                            {{ form.estado }}
                        </div>{{ form.estado.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label for="id_observaciones"  class="col-md-12 col-sm-12 col-xs-12">Observaciones:</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form.observaciones }}
                        </div>{{ form.observaciones.errors }}
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" id="btnGuardar" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><strong>REQUISITOS NECESARIOS PRESENTADOS</strong></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <input type="hidden" id="id_requisitos_presentados" name="requisitos_presentados" value=""/>
                    <div  id="check_requisitos">
                        <!--label>
                            <input type="checkbox" class="flat" id="id_{{ opcion }}" name="{{ opcion }}" value="0">
                            {{ opcion }}
                        </label-->
                    </div>
            </div>
        </div>
    </div>
</div>
</form>

<script>
    var frm = document.getElementById('frm');
    var requisito = "";

    $("#id_tipo").change(function() {

        //alert("aca");

        $.ajax({
            url:"/tramites/get_requisitos_tipo_tramite/",
            cache: false,
            type: "GET",
            data: {id_tipo: $("#id_tipo").val()},
            success: function(data) {

                for (item in data) {
                    alert(item);
                    var check = "<label><input type='checkbox' class='flat' id='" + item + "' name='" + item + "' value='0'> " + data[item] + "</label><br>";
                    alert(check);
                    $("#check_requisitos").append(check);
                }

            }
        });

    });

    $('#btnGuardar').click(function(){

        /*$('div#check_requisitos input[type=checkbox]').each(function() {
           if ($(this).is(":checked")) {
               requisito += $(this).attr('name') + '#1|';
           } else {
               requisito += $(this).attr('name') + '#0|';
           }
        });

        $('#id_requisitos_presentados').val(requisito.slice(0,-1));*/

        frm.submit();
    });
</script>



{% endblock %}