{% extends 'arbol_item.html' %}
{% load staticfiles %}



{% block content %}

<div class="title_right" style="background-color:#ccc">
    <div class="x_title">

        <a href='/tramites/anses/listado'><strong>LISTADO</strong></a> --
        <strong>TRAMITE ANSES</strong>

    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                {% for msg in messages %}
                    <strong>{{ msg }}</strong>
                    <br>
                {% endfor %}
                <br>

                <form id="frm" method="post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}

                    <p><label for="id_persona">Persona:</label>
                        {{ form.persona }}
                    </p>{{ form.persona.errors }}
                    <p><label for="id_tipo">Tipo de Trámite:</label>
                        <select id="id_tipo" name="tipo" class="form-control">
                            <option value="">---------</option>
                            {% for tipo in tipos_tramites_anses %}
                                <option value="{{ tipo.id }}" {% if tipo.id == tramite.tipo.id %} selected {% endif %}>{{ tipo }}</option>
                            {% endfor %}
                        </select>
                    </p>{{ form.tipo.errors }}

                    <p><label for="id_estado">Estado:</label> {{ form.estado }}</p>{{ form.estado.errors }}

                    <p><label for="id_observaciones">Observaciones:</label>
                        {{ form.observaciones }}
                    </p>{{ form.observaciones.errors }}
                    <br>
                    {% if tramite %}
                        <label>REQUISITOS</label>
                        <input type="hidden" id="id_requisitos_presentados" name="requisitos_presentados" value=""/>

                        {% for opcion in requisitos %}
                            <div class="checkbox" id="check_requisitos">
                                <label>
                                    <input type="checkbox" class="flat" id="id_{{ opcion }}" name="{{ opcion.requisito }}" value="0" {% if  opcion.estado %} checked="checked" {% endif %}>
                                    {{ opcion.requisito }}
                                </label>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <button type="button" id="btnGuardar" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var frm = document.getElementById('frm');
    var requisito = "";

    $('#btnGuardar').click(function(){

        $('div#check_requisitos input[type=checkbox]').each(function() {
           if ($(this).is(":checked")) {
               requisito += $(this).attr('name') + '#1|';
           } else {
               requisito += $(this).attr('name') + '#0|';
           }
        });

        $('#id_requisitos_presentados').val(requisito.slice(0,-1));

        frm.submit();
    });
</script>



{% endblock %}