{% extends 'arbol_item.html' %}
{% load staticfiles %}



{% block content %}

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div style="text-align: right">
                    <button type="button" class="btn btn-primary" onclick="window.location='/clientes/alta/'">Nuevo Cliente</button>
                </div>
                <div class="x_content">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="">
                                <a href="#" onclick="window.location='/clientes/listado/'" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                    <img src="{{ MEDIA_URL }}logo/tramites/CLIENTE_ICO.png" width="32" height="20"><strong>CLIENTES</strong>
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#" onclick="window.location='/tramites/anses/listado/'" role="tab" id="profile-tab" data-toggle="tab"  aria-expanded="false">
                                    <img src="{{ MEDIA_URL }}logo/tramites/ANSES_ICO.png" width="50" height="20">
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#" onclick="window.location='/tramites/caja/listado/'" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">
                                    <img src="{{ MEDIA_URL }}logo/tramites/CAJA_PREVISION_ICO.png" width="50" height="20">
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#" onclick="window.location='/tramites/familia/listado/'" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">
                                    <img src="{{ MEDIA_URL }}logo/tramites/FAMILIA_ICO.png" width="55" height="20">
                                </a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#" onclick="window.location='/tramites/civil_comercial/listado/'" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">
                                    <img src="{{ MEDIA_URL }}logo/tramites/CIVIL_COMERCIAL_ICO.png" width="60" height="20">
                                </a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade" id="tab_content1" aria-labelledby="home-tab">

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                            </div>
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content3" aria-labelledby="profile-tab">
                                <div class="x_title">
                                    <h2>CLIENTES CON TRAMITE CIVIL / COMERCIAL</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="input-group form-horizontal top_search col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" name="q" class="form-control" placeholder="Buscar por...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Buscar!</button>
                                    </span>
                                </div><br>
                                <table id="example" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                        <tr class="headings">
                                            <th>FOTO </th>
                                            <th>PERSONA </th>
                                            <th>DOCUMENTO</th>
                                            <th>ESTADO CIVIL</th>
                                            <th>CASO</th>
                                            <th>FECHA TURNO</th>
                                            <th>ESTADO TRAMITE</th>
                                            <th class=" no-link last">
                                                <span class="nobr">Acción</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cliente in cliente_caja %}
                                        <tr class="odd pointer">
                                            <td class=" ">
                                                {% if cliente.foto != "" %}
                                                <img src="{{ MEDIA_URL }}{{ cliente.persona.foto }}" class="img-circle" width="48px" height="48px">
                                                {% else %}
                                                <img src="usuario.png" class="img-circle" width="38px" height="28px">
                                                {% endif %}
                                            </td>
                                            <td class=" ">{{ cliente.persona }}</td>
                                            <td class=" ">{{ cliente.persona.tipo_documento }} - {{ cliente.persona.numero_documento }}</td>
                                            <td class=" ">
                                                {{ cliente.persona.fecha_nacimiento |date:"d/m/Y" }}
                                            </td>
                                            <td class=" ">
                                                {{ cliente.fecha_alta_sistema |date:"d/m/Y" }}
                                            </td>
                                            <td class=" last">
                                                <a href="/clientes/modi/{{ cliente.persona.id }}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                            <div class="alert alert-danger" role="alert">
                                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                              <span class="sr-only">Error:</span>
                                                No se encontraron registros
                                            </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if is_paginated %}

                                <center>
                                <!--label>Ir a la página: <input type="text" id="page" name="page" size=3></label-->
                                </center>
                                <center>
                                   <ul class="pagination">
                                       <li id="n_pag_inicio" ><a href="/tramites/caja/listado" title="Ir al inicio"> << </a></li>

                                        {% if page_obj.has_previous %}
                                            <li id="n_pag_{{page_obj.number}}">
                                              <a href="?page={{ page_obj.previous_page_number }}" title="Volver uno"> < </a>
                                            </li>
                                        {% endif %}

                                        <li><a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>

                                        {% if page_obj.has_next %}
                                            <li id="n_pag_{{page_obj.number}}">
                                              <a href="?page={{ page_obj.next_page_number }}" title="Avanzar uno"> > </a>
                                            </li>
                                        {% endif %}

                                        <li id="n_pag_fin"><a href="?page=last" title="Ir al final"> >> </a></li>
                                    </ul>
                                </center>
                                {% endif %}
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    <br />
    <br />
    <br />
{% endblock %}



