{% extends 'arbol_item.html' %}
{% load staticfiles %}



{% block content %}
    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/'><strong>HOME</strong></a> --
            <a href="/tramites/listado/"><strong>LISTA DE TRAMITES</strong></a> --
            <strong>ANSES</strong></a>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="x_title">
                        <h2>TRAMITES ANSES - REQUISITOS</h2>
                        <div style="text-align: right">
                            <button type="button" class="btn btn-primary" onclick="window.location='/tramites/alta/anses/'">Crear Tramite Anses</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group form-horizontal">
                        <div class="input-group form-horizontal col-md-5 col-sm-5 col-xs-5">
                            <input type="text" name="q" class="form-control" placeholder="Buscar por nombre...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Buscar!</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <table id="example" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th>TRAMITES</th>
                                    <th class=" no-link last">
                                        <span class="nobr">REQUISITOS</span>
                                    </th>
                                    <th class=" no-link last">
                                        <span class="nobr">IMPRIMIR</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tramite_entidad in object_list %}
                                <tr class="odd pointer">
                                    <td class=" ">{{ tramite_entidad.descripcion }}</td>
                                    <td class=" last">
                                        <a href="#"><!-- /tramites/anses/requisitos/{{ tramite_entidad.id }}"-->
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </td>
                                    <td class=" last">
                                        <a href="/tramites/anses/requisitos/{{ tramite_entidad.id }}">
                                            <i class="fa fa-print"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                    <div class="alert alert-danger" role="alert">
                                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                      <span class="sr-only">Error:</span>
                                        No se encontraron tipos de tramites Anses
                                    </div>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if is_paginated %}

                        <center>
                        <!--label>Ir a la página: <input type="text" id="page" name="page" size=3></label-->
                        </center>
                        <center>
                           <ul class="pagination">
                               <li id="n_pag_inicio" ><a href="/tramites/anses/listado" title="Ir al inicio"> << </a></li>

                                {% if page_obj.has_previous %}
                                    <li id="n_pag_{{page_obj.number}}">
                                      <a href="?page={{ page_obj.previous_page_number }}" title="Volver uno"> < </a>
                                    </li>
                                {% endif %}

                                <li><a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>

                                {% if page_obj.has_next %}
                                    <li id="n_pag_{{page_obj.number}}">
                                      <a href="?page={{ page_obj.next_page_number }}" title="Avanzar uno"> > </a>
                                    </li>
                                {% endif %}

                                <li id="n_pag_fin"><a href="?page=last" title="Ir al final"> >> </a></li>
                            </ul>
                        </center>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}