{% extends 'arbol_item.html' %}

{% block content %}

    <!-- content -->
    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/'><strong>INICIO</strong></a> --
            <strong>LISTA DE TRAMITES</strong></a>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% for tramites_entidades in tramites_entidades_list %}
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" onclick="window.location='/tramites/{{ tramites_entidades.valor | lower }}/listado/'">
                    <div class="tile-stats">
                        <div class="icon">
                            <!--i class="fa fa-user"></i-->

                        </div>
                        <div class="count">
                            <img style="padding: 5px" class="img-responsive img-portfolio img-hover" width="95px" height="35px" src="{{ MEDIA_URL }}{{ tramites_entidades.imagen }}" alt="">
                        </div>
                        <h3>Tramites - Requisitos</h3>
                        <p>&nbsp;</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- end content -->

{% endblock %}


