{% extends 'arbol_item.html' %}
{% load staticfiles %}



{% block content %}
    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/'><strong>INICIO</strong></a> --
            <a href='/clientes/listado'><strong>LISTA DE CLIENTES</strong></a> --
            <a href='/clientes/modi/{{ cliente.id }}'><strong>DATOS DEL CLIENTE</strong></a> --
            <strong>HISTORIAL DE TRAMITES</strong>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                 <div class="x_title">
                    <h2>Historial de trámites de {{ cliente }}</h2>
                    <div style="text-align: right">
                        {% if cliente %}
                        <button type="button" class="btn btn-primary" onclick="window.location='/tramites/alta/{{ cliente.id }}'"><i class="fa fa-plus"></i> Iniciar Trámite</button>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>Tipo de Trámite</th>
                                <th>Destino</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Turno</th>
                                <th>Fecha Alarma</th>
                                <th>Observaciones</th>
                                <th>Ver / Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tramite in tramite_cliente %}
                            <tr class="odd pointer">
                                <td class=" ">{{ tramite.tipo.descripcion }}</td>
                                <td class=" ">{{ tramite.tipo.entidad | upper }}</td>
                                <td class=" ">{{ tramite.fecha_alta | date:"d/m/Y" }}</td>
                                <td class=" ">{{ tramite.fecha_turno | date:"d/m/Y" }}</td>
                                <td class=" ">{{ tramite.fecha_alarma | date:"d/m/Y" }}</td>
                                <td class=" ">{{ tramite.observaciones }}</td>
                                <td class=" last">
                                    <a href="/tramites/modi/{{ tramite.id }}">
                                        <i class="glyphicon glyphicon-pencil" title="Ver / Editar"></i>
                                    </a>
                                </td>
                                <td class=" last">
                                    <a href="/tramites/modi/{{ tramite.id }}">
                                        <i class="glyphicon glyphicon-trash" title="Eliminar"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                    No se encontraron registros
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <br />

{% endblock %}