{% extends 'arbol_item.html' %}

{% block content %}

    <div class="page-title">
        <div class="title_left">
            <h3>EMPLEADO</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="perfil_tab" role="tab" data-toggle="tab" aria-expanded="true"><span class="fa fa-user"></span> Perfil</a></li>
                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="domicilio_tab" data-toggle="tab"  aria-expanded="false"><span class="fa fa-home"></span> Domicilio</a></li>
                            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="contacto_tab" data-toggle="tab" aria-expanded="false"><span class="fa fa-phone"></span> Contactos</a></li>
                            <li role="presentation" class=""><a href="#tab_content4" role="tab" id="familia_tab" data-toggle="tab" aria-expanded="false"><span class="fa fa-users"></span> Familia</a></li>
                            <li role="presentation" class=""><a href="#tab_content5" role="tab" id="legajo_tab" data-toggle="tab" aria-expanded="false"><span class="fa fa-folder"></span> Legajos</a></li>
                            <li role="presentation" class=""><a href="#tab_content6" role="tab" id="preocupac_tab" data-toggle="tab" aria-expanded="false"><span class="fa fa-clipboard"></span> Preocupacional</a></li>
                            <li role="presentation" class=""><a href="#tab_content7" role="tab" id="suceso_tab" data-toggle="tab" aria-expanded="false"><span class="fa fa-list-alt"></span> Sucesos</a></li>
                            <li role="presentation" class=""><a href="#tab_content8" role="tab" id="documento_tab" data-toggle="tab" aria-expanded="false"><span class="fa fa-folder-open"></span> Documentos</a></li>
                            <li role="presentation" class=""><a href="#tab_content9" role="tab" id="asignacion_tab" data-toggle="tab" aria-expanded="false"><span class="fa fa-sitemap"></span> Asignaciones</a></li>
                        </ul>
                    </div>
                </div>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="perfil_tab">
                        <div class="col-md-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Datos de Perfíl</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control" id="inputSuccess2" placeholder="Nombre">
                                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control" id="inputSuccess3" placeholder="Apellido">
                                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option value="0">Tipo de Documento</option>
                                            <option value="AK">DNI</option>
                                            <option value="HI">LC</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control" id="inputSuccess4" placeholder="Número de Documento">
                                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option value="0">Sexo</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                        </select>
                                    </div>
                                    <div class="controls">
                                        <div class="col-md-6 col-sm-6 col-xs-12 xdisplay_inputx form-group control-group has-feedback">
                                            <input type="text" class="form-control has-feedback-right" id="single_cal4" placeholder="Fecha de nacimiento" aria-describedby="inputSuccess2Status4">
                                            <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status4" class="sr-only">(success)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option value="0">Estado Civil</option>
                                            <option value="1">Soltero</option>
                                            <option value="2">Casado</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option value="0">Obra Social</option>
                                            <option value="1">IASEP</option>
                                            <option value="2">UPCN</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option value="0">Nivel de Educación</option>
                                            <option value="1">Primario</option>
                                            <option value="2">Secundario</option>
                                            <option value="3">Terciario</option>
                                            <option value="4">Universitario</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option value="0">Profesión</option>
                                            <option value="1">Informatico</option>
                                            <option value="2">Albañil</option>
                                            <option value="3">Contador Público</option>
                                            <option value="4">Desarrollador</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control" id="id_cuil" placeholder="CUIL">
                                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control" id="id_cuit" placeholder="CUIT">
                                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="controls">
                                        <div class="col-md-6 col-sm-6 col-xs-12 xdisplay_inputx form-group control-group has-feedback">
                                            <input type="text" class="form-control has-feedback-right" id="single_cal2" placeholder="Fecha de Ingreso" aria-describedby="inputSuccess2Status2">
                                            <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                        </div>
                                    </div>
                                    <div class="controls">
                                        <div class="col-md-6 col-sm-6 col-xs-12 xdisplay_inputx form-group control-group has-feedback">
                                            <input type="text" class="form-control has-feedback-right" id="single_cal3" placeholder="Fecha de Egreso" aria-describedby="inputSuccess2Status3">
                                            <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option value="0">Área</option>
                                            <option value="1">Informática</option>
                                            <option value="2">Administración</option>
                                            <option value="3">Personal</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control" id="inputSuccess4" placeholder="Número de Legajo">
                                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option value="0">Situación Laboral</option>
                                            <option value="1">Contratado</option>
                                            <option value="2">Adscripto</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option value="0">Especialidad</option>
                                            <option value="1">Analista de Sistema</option>
                                            <option value="2">Programador</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <textarea class="form-control" rows="3" placeholder='Escriba aquí alguna observación.'></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Imagen de Perfíl</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <!-- FOTO PERSONA -->
                                    <div class="profile_view">
                                        <div class="col-sm-12">
                                            <h4 class="brief"><i>Ficha</i></h4>
                                            <div class="left col-xs-3">
                                                <h2>Juan Perez</h2>
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-phone"></i> Celular: 3704-254896</li>
                                                    <li><i class="fa fa-phone"></i> Teléfono: 446-206</li>

                                                </ul>
                                            </div>
                                            <div class="right col-xs-5 text-center">
                                                <img src="{{ MEDIA_URL }}images/img.jpg" alt="" class="img-circle img-responsive">
                                            </div>
                                            <div class="right col-xs-4 text-center">
                                                <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">Cargar Foto
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FIN FOTO PERSONA -->
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12" for="first-name">Número de Donante: </label>
                                    </div>
                                </div>

                                <div class="x_title">
                                    <h2>Estados</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content checkbox">
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                                        <label><input type="checkbox" class="flat" checked="checked"> Es Donante</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                                        <label><input type="checkbox" class="flat" checked="checked"> Pasante</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                                        <label><input type="checkbox" class="flat" checked="checked"> Habilitado Turno</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                                        <label><input type="checkbox" class="flat" checked="checked"> Habilitado Profesional</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Lugar de Nacimiento</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                    <select class="select2_single form-control" tabindex="-1">
                                        <option value="0">País</option>
                                        <option value="1">Argentina</option>
                                        <option value="2">Brasil</option>
                                        <option value="3">Paraguay</option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                    <select class="select2_single form-control" tabindex="-1">
                                        <option value="0">Provincia</option>
                                        <option value="1">Formosa</option>
                                        <option value="2">Chaco</option>
                                        <option value="3">Corrientes</option>
                                        <option value="4">Misiones</option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                    <select class="select2_single form-control" tabindex="-1">
                                        <option value="0">Departamento</option>
                                        <option value="1">Formosa</option>
                                        <option value="2">Pilcomayo</option>
                                        <option value="3">Pirané</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-sm-3 col-md-9 col-xs-1">
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-xs-11">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <button type="submit" class="btn btn-success">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="domicilio_tab">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-sm-3 col-md-9 col-xs-1">
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-xs-11">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <button type="submit" class="btn btn-success">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="contacto_tab">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-sm-3 col-md-9 col-xs-1">
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-xs-11">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <button type="submit" class="btn btn-success">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="familia_tab">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-sm-3 col-md-9 col-xs-1">
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-xs-11">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <button type="submit" class="btn btn-success">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="legajo_tab">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-sm-3 col-md-9 col-xs-1">
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-xs-11">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <button type="submit" class="btn btn-success">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content6" aria-labelledby="preocupac_tab">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-sm-3 col-md-9 col-xs-1">
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-xs-11">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <button type="submit" class="btn btn-success">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content7" aria-labelledby="suceso_tab">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-sm-3 col-md-9 col-xs-1">
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-xs-11">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <button type="submit" class="btn btn-success">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content8" aria-labelledby="documento_tab">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-sm-3 col-md-9 col-xs-1">
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-xs-11">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <button type="submit" class="btn btn-success">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content9" aria-labelledby="asignacion_tab">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-sm-3 col-md-9 col-xs-1">
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-xs-11">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <button type="submit" class="btn btn-success">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- FIN ROW -->

    <!-- ROW BOTONES DE ACCION -->
    <!--div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 x_panel form-group has-feedback">
            <div class="col-sm-3 col-md-9 col-xs-1">
            </div>
            <div class="col-sm-12 col-md-3 col-xs-11">
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <button type="submit" class="btn btn-success">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div-->
    <!-- FIN ROW BOTONES DE ACCION -->

    <!-- /datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#single_cal1').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal2').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal3').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_3"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal4').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>

{% endblock %}