{% extends 'arbol_item.html' %}
{% load staticfiles %}
{% block content %}
    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/medicamentos/listado'><strong>LISTADO</strong></a> --

            <strong>MEDICAMENTO</strong> --
            {% if medicamento %}
                <a href='/medicamentos/laboratorios/alta/{{ medicamento.id }}'><strong>LABORATORIO</strong></a>
            {% endif %}
        </div>
    </div>

    <div class="clearfix"></div>
    <form id="frm" action="" method="post">{% csrf_token %}
    <div class="row">
         {% for msg in messages %}

            <strong>{{msg}}</strong>
            <br><br>

        {% endfor %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>DATOS MEDICAMENTO</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-group">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <label for="fullname" class="col-md-5 col-sm-5 col-xs-12">Catalogo<span class="required">*</span></label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                {{ form.catalogo }}
                            </div>{{ form.catalogo.errors }}
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <label for="fullname" class="col-md-5 col-sm-5 col-xs-12">Codigo <span class="required">*</span></label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                {{ form.codigo }}
                            </div>{{ form.codigo.errors }}
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <label for="fullname" class="col-md-4 col-sm-4 col-xs-12">Denominacion <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                {{ form.denominacion }}
                            </div>{{ form.denominacion.errors }}
                        </div>
                    </div><br><br>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>MAS DATOS</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="checkbox">
                        <label>
                            {{ form.producto_combinado }} Producto Combinado
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.libre_azucar }} Libre de Azucar
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            {{ form.libre_conservante }} Libre de Conservante
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.libre_cfc }} Libre de CFC
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.libre_gluten }} Libre de Gluten
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>COMPOSICION</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="divComposicion">

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="fullname" class="col-md-5 col-sm-5 col-xs-12">Principio Activo <span class="required">*</span></label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    {{ form.principio_activo }}
                                </div>{{ form.principio_activo.errors }}
                            </div>
                        </div>
                        <br><br><br>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="fullname" class="col-md-5 col-sm-5 col-xs-12">Valor de potencia del numerador <span class="required">*</span></label>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    {{ form.potencia_numerador }}
                                </div>{{ form.potencia_numerador.errors }}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="fullname" class="col-md-5 col-sm-5 col-xs-12">Unidad de medida del numerador <span class="required">*</span></label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    {{ form.unidad_medida_numerador }}
                                </div>{{ form.unidad_medida_numerador.errors }}
                            </div>
                        </div>
                        <br><br>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="fullname" class="col-md-5 col-sm-5 col-xs-12">Valor de potencia del denominador <span class="required">*</span></label>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    {{ form.potencia_denominador }}
                                </div>{{ form.potencia_denominador.errors }}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="fullname" class="col-md-5 col-sm-5 col-xs-12">Unidad de medida del denominador <span class="required">*</span></label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    {{ form.unidad_medida_denominador }}
                                </div>{{ form.unidad_medida_denominador.errors }}
                            </div>
                        </div>
                        <br><br>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12"><br>
                                <div class="col-md-11 col-sm-12 col-xs-12"></div>
                                <div class="col-md-1 col-sm-12 col-xs-12">
                                    <input type="button" class="btn btn-primary" id="btnAgregarComposicion" value="Agregar"/>
                                    <input type="hidden" id="id_items_composicion" name="items_composicion" value=""/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="tabla_composicion_item" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                        <tr class="headings">
                                            <th>Principio Activo </th>
                                            <th>Potencia Numerador / Medida </th>
                                            <th>Potencia Denominador / Medida </th>
                                            <th class=" no-link last"><span class="nobr">Acción</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for composicion in medicamento.composicion_set.all %}
                                    <tr class="odd pointer">
                                        <td id="{{ composicion.principio_activo.id }}">{{ composicion.principio_activo }}</td>
                                        <td>{{ composicion.potencia_numerador }} {{ composicion.unidad_medida_numerador }}</td>
                                        <td>{{ composicion.potencia_denominador }} {{ composicion.unidad_medida_denominador }}</td>
                                        <td onclick='eliminarItem(this, {{ composicion.id }}, "COMPOSICION")'>Quitar</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>LINEAS TERAPEUTICAS</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="divLineasTerapeuticas">
                        <div class="form-group">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <label for="fullname" class="col-md-3 col-sm-3 col-xs-12">Linea Terapeutica<span class="required">*</span></label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    {{ form.linea_terapeutica }}
                                </div>{{ form.linea_terapeutica.errors }}
                            </div>
                        </div><br><br>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12"><br>
                                <div class="col-md-11 col-sm-12 col-xs-12"></div>
                                <div class="col-md-1 col-sm-12 col-xs-12">
                                    <input type="button" class="btn btn-primary" id="btnAgregarLineaTerapeutica" value="Agregar"/>
                                    <input type="hidden" id="id_items_linea_terapeutica" name="items_linea_terapeutica" value=""/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="tabla_linea_terapeutica_item" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                        <tr class="headings">
                                            <th>Linea Terapeutica </th>
                                            <th class=" no-link last"><span class="nobr">Acción</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for linea_terapeutica in medicamento.medicamentolineaterapeutica_set.all %}
                                    <tr class="odd pointer">
                                        <td id="{{ linea_terapeutica.linea_terapeutica.id }}">{{ linea_terapeutica }}</td>
                                        <td onclick='eliminarItem(this, {{ linea_terapeutica.id }}, "LINEA_TERAPEUTICA")'>Quitar</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>VIAS DE ADMINISRTACION Y FORMAS FARMACEUTICAS</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="divAdministracionFormas">
                        <div class="form-group">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <label for="fullname" class="col-md-4 col-sm-4 col-xs-12">Via de Administracion Terapeutica<span class="required">*</span></label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    {{ form.via_administracion }}
                                </div>{{ form.via_administracion.errors }}
                            </div>
                        </div><br><br>

                        <div class="form-group">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <label for="fullname" class="col-md-4 col-sm-4 col-xs-12">Forma Farmaceutica<span class="required">*</span></label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    {{ form.forma_farmaceutica }}
                                </div>{{ form.forma_farmaceutica.errors }}
                            </div>
                        </div><br><br>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12"><br>
                                <div class="col-md-11 col-sm-12 col-xs-12"></div>
                                <div class="col-md-1 col-sm-12 col-xs-12">
                                    <input type="button" class="btn btn-primary" id="btnAgregarAdministracionForma" value="Agregar"/>
                                    <input type="hidden" id="id_items_administracion_forma" name="items_administracion_forma" value=""/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="tabla_administracion_forma_item" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                        <tr class="headings">
                                            <th>Via Administracion </th>
                                            <th>Forma Farmaceutica </th>
                                            <th class=" no-link last"><span class="nobr">Acción</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for via_forma in medicamento.administracionforma_set.all %}
                                    <tr class="odd pointer">
                                        <td id="{{ via_forma.via_administracion.id }}">{{ via_forma.via_administracion }}</td>
                                        <td id="{{ via_forma.forma_farmaceutica.id }}">{{ via_forma.forma_farmaceutica }}</td>
                                        <td onclick='eliminarItem(this, {{ via_forma.id }}, "ADMINISTRACION_FORMA")'>Quitar</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <br>
                <input type="button" id="btnGuardar" value="Guardar" class="btn btn-primary">
            </div>
        </div>
    </div>
    </form>

<script>

    var items_composicion = new Array();
    var items_linea_terapeutica = new Array();
    var items_administracion_forma = new Array();
    var myObjComposicion = {};
    var myObjLineaTerapeutica = {};
    var myObjAdministracionForma = {};
    var jsonItemsComposicion, jsonItemsLineaTerapeutica, jsonItemsAdministracionForma;
    var id_principio_activo, principio_activo;
    var potencia_numerador, potencia_denominador, unidad_medida_numerador, unidad_medida_denominador;
    var id_linea_terapeutica, linea_terapeutica;
    var id_via_administracion, via_administracion, id_forma_farmaceutica, forma_farmaceutica;
    var administracion, forma;

    var add_item = true;

    $("#btnAgregarComposicion").click(function() {

        add_item = true;

        if($("#id_principio_activo").val() == "" || $("#id_potencia_numerador").val() == "" ||
                $("#id_potencia_denominador").val() == "" || $("#id_unidad_medida_numerador").val() == "" ||
                $("#id_unidad_medida_denominador").val() == ""){

            alert("Por favor verifique que todos los campos para definir la composicion esten correctamentes cargados!");

            $("#id_principio_activo").focus();

            return;
        }

        id_principio_activo = $("#id_principio_activo").val();
        principio_activo = $("#id_principio_activo option[value="+ $('#id_principio_activo').val() +"]").text();
        unidad_medida_numerador = $("#id_unidad_medida_numerador option[value="+ $('#id_unidad_medida_numerador').val() +"]").text();
        unidad_medida_denominador = $("#id_unidad_medida_denominador option[value="+ $('#id_unidad_medida_denominador').val() +"]").text();

        if($('#tabla_composicion_item tbody tr').length != 0){

            $('#tabla_composicion_item tbody tr').each(function(){

                $(this).children("td").each(function (index){
                    validar_item(this, index, "COMPOSICION", id_principio_activo);
                });
            });
        } else {
            add_item = true;
        }

        if(add_item){
            $("#tabla_composicion_item").append(
                "<tr><td id='"+ id_principio_activo + "'>" + principio_activo + "</td><td>" +
                $("#id_potencia_numerador").val() + " " + unidad_medida_numerador + "</td><td>" +
                $("#id_potencia_denominador").val() + " " + unidad_medida_denominador + "</td>" +
                "<td onclick='quitarItem(this)'>Quitar</td></tr>");

            $("#id_principio_activo").val("");
            $("#id_potencia_numerador").val("");
            $("#id_unidad_medida_numerador").val("");
            $("#id_potencia_denominador").val("");
            $("#id_unidad_medida_denominador").val("");

        }

    });

    $("#btnAgregarLineaTerapeutica").click(function() {

        add_item = true;

        if($("#id_linea_terapeutica").val() == ""){

            alert("Por favor seleccione una opcion de linea terapeutica!");

            $("#id_linea_terapeutica").focus();

            return;
        }

        id_linea_terapeutica = $("#id_linea_terapeutica").val();
        linea_terapeutica = $("#id_linea_terapeutica option[value="+ $('#id_linea_terapeutica').val() +"]").text();

        if($('#tabla_linea_terapeutica_item tbody tr').length != 0){

            $('#tabla_linea_terapeutica_item tbody tr').each(function(){

                $(this).children("td").each(function (index){
                    validar_item(this, index, "LINEA_TERAPEUTICA", id_linea_terapeutica);
                });
            });
        } else {
            add_item = true;
        }

        if(add_item){
            $("#tabla_linea_terapeutica_item").append(
                "<tr><td id='"+ id_linea_terapeutica + "'>" + linea_terapeutica + "</td>" +
                "<td onclick='quitarItem(this)'>Quitar</td></tr>");

            $("#id_linea_terapeutica").val("");

        }

    });

    $("#btnAgregarAdministracionForma").click(function() {

        add_item = true;

        if($("#id_via_administracion").val() == "" || $("#id_forma_farmaceutica").val() == ""){

            alert("Por favor seleccione todos los campos para definir la via de administracion y la forma farmaceutica!");

            $("#id_via_administracion").focus();

            return;
        }

        id_via_administracion = $("#id_via_administracion").val();
        via_administracion = $("#id_via_administracion option[value="+ $('#id_via_administracion').val() +"]").text();
        id_forma_farmaceutica = $("#id_forma_farmaceutica").val();
        forma_farmaceutica = $("#id_forma_farmaceutica option[value="+ $('#id_forma_farmaceutica').val() +"]").text();

        var ids_a_comprobar = id_via_administracion + "#" + id_forma_farmaceutica;

        //alert($('#tabla_administracion_forma_item tbody tr').length);

        if($('#tabla_administracion_forma_item tbody tr').length != 0){
            validar_item_administracion(ids_a_comprobar);
        } else {
            add_item = true;
        }

        if(add_item){
            $("#tabla_administracion_forma_item").append(
                "<tr><td id='"+ id_via_administracion + "'>" + via_administracion + "</td>" +
                "<td id='"+ id_forma_farmaceutica + "'>" + forma_farmaceutica + "</td>" +
                "<td onclick='quitarItem(this)'>Quitar</td></tr>");

            $("#id_via_administracion").val("");
            $("#id_forma_farmaceutica").val("");

        }

    });

    function validar_item(objeto, index, item, id_item) {

        if (item == "COMPOSICION") {
            if (index == 0) {
                if (id_item == $(objeto).attr("id")) {
                    alert("No puede ingresar 2 principios activos iguales para un mismo medicamento!");
                    $("#id_principio_activo").val("");
                    add_item = false;
                }
            }
        }

        if (item == "LINEA_TERAPEUTICA") {
            if (index == 0) {
                if (id_item == $(objeto).attr("id")) {
                    alert("No puede ingresar 2 lineas terapeuticas iguales para un mismo medicamento!");
                    $("#id_linea_terapeutica").val("");
                    add_item = false;
                }
            }
        }
    }

    function validar_item_administracion(ids){

        var ids_item = ids.split("#");
        var id_administracion = ids_item[0];
        var id_forma = ids_item[1];

        $('#tabla_administracion_forma_item tbody tr').each(function(){

            if(add_item == false){return}

            $(this).children("td").each(function (index){

                if (index == 0) {
                    administracion = $(this).attr("id");
                }

                if (index == 1) {
                    forma = $(this).attr("id");
                }

                /*alert(id_administracion + " - " + administracion );
                alert(id_forma + " - " + forma );*/

                if(id_administracion == administracion && id_forma == forma){
                    alert("No puede ingresar 2 vias de administracion y forma farmaceutica iguales para un mismo medicamento!");
                    $("#id_via_administracion").val("");
                    $("#id_forma_farmaceutica").val("");
                    add_item = false;
                    return false;
                }

            });
        });
    }

    function quitarItem(fila){
        fila.closest('tr').remove();
        add_item = true;
    }

    function eliminarItem(fila, id, tipo){

        if(confirm("ATENCION: Está seguro de eliminar el item, una vez confirmado no podrá volver atrás!")){

            $.ajax({
                type: "GET",
                url: "/medicamentos/get_eliminar_item/",
                data: {
                    id: id,
                    tipo: tipo,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },

                success: function (data) {
                    alert(data['mensaje']);
                    fila.closest('tr').remove();
                },
                error: function (err) {
                    console.log(err);
                }
            });

        }

    }

    function add_array_items(){

        $('#tabla_composicion_item tbody tr').each(function(){
            $(this).children("td").each(function (index){

                switch (index) {
                    case 0:
                        principio_activo = $(this).text();
                        break;
                    case 1:
                        potencia_numerador = $(this).text();
                        break;
                    case 2:
                        potencia_denominador = $(this).text();
                        break;
                }
            });

            myObjComposicion = {
                principio_activo: principio_activo,
                potencia_numerador: potencia_numerador,
                potencia_denominador: potencia_denominador
            };

            items_composicion.push(myObjComposicion);
        });

        jsonItemsComposicion = JSON.stringify(items_composicion);

        $("#id_items_composicion").val(jsonItemsComposicion);

        // ADD ARRAY LINEA TERAPEUTICA

        $('#tabla_linea_terapeutica_item tbody tr').each(function(){
            $(this).children("td").each(function (index){

                switch (index) {
                    case 0:
                        linea_terapeutica = $(this).text();
                        break;
                }
            });

            myObjLineaTerapeutica = {
                linea_terapeutica: linea_terapeutica
            };

            items_linea_terapeutica.push(myObjLineaTerapeutica);
        });

        jsonItemsLineaTerapeutica = JSON.stringify(items_linea_terapeutica);

        $("#id_items_linea_terapeutica").val(jsonItemsLineaTerapeutica);

        // ADD ARRAY ADMINISTRACION-FORMA

        $('#tabla_administracion_forma_item tbody tr').each(function(){
            $(this).children("td").each(function (index){

                switch (index) {
                    case 0:
                        via_administracion = $(this).text();
                        break;
                    case 1:
                        forma_farmaceutica = $(this).text();
                        break;
                }
            });

            myObjAdministracionForma = {
                via_administracion: via_administracion,
                forma_farmaceutica: forma_farmaceutica
            };

            items_administracion_forma.push(myObjAdministracionForma);
        });

        jsonItemsAdministracionForma = JSON.stringify(items_administracion_forma);

        $("#id_items_administracion_forma").val(jsonItemsAdministracionForma);
    }

    $("#btnGuardar").click(function() {
        add_array_items();
        $('#frm').submit();
    });

</script>

{% endblock %}