{% extends 'arbol_item.html' %}
{% load staticfiles %}

{% block content %}

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista de Medicamentos</h2>
                    <div class="clearfix"></div>

                </div>
                <div class="x_content">
                    <label for="heard">Filtrar:</label>
                    <div class="row">
                        <form method="get" id="frm">
                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <select class="form-control col-md-3 col-sm-12 col-xs-12" id="id_filtro" name="filtro">
                                    <option value="SELECCIONE">Seleccione..</option>
                                    <option value="TODOS">TODOS</option>
                                    <option value="NUMERO_EXPEDIENTE">Nro. Expediente</option>
                                    <option value="NUMERO_RESOLUCION_PAGO">Nro. Resolución de Pago</option>
                                    <option value="FECHA_EXPEDIENTE">Fecha Expediente</option>
                                    <option value="FECHA_RESOLUCION_PAGO">Fecha Resolución de Pago</option>
                                    <option value="ESTADO">Estado</option>
                                    <option value="SOLICITANTE">Solicitante</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-sm-12 col-xs-12" id="div_parametro1">
                                <input type="text" id="id_parametro1" name="parametro1" class="form-control col-md-3 col-sm-12 col-xs-12" placeholder="">
                                <select class="form-control col-md-3 col-sm-12 col-xs-12" id="id_estado" name="estado" style="display: none">
                                    <option value="0">Seleccione..</option>
                                    {% for estado in estados %}
                                        <option value="{{ estado.descripcion }}">{{ estado.descripcion }}</option>
                                    {% endfor %}
                                </select>
                                <select class="form-control col-md-12 col-sm-12 col-xs-12" id="id_solicitante" name="solicitante" style="display: none">
                                    <option value="0">Seleccione..</option>
                                    {% for solicitante in empleado_solicitante %}
                                        <option value="{{ solicitante.persona.id }}">{{ solicitante.persona }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-sm-12 col-xs-12" id="div_parametro2" style="display: none">
                                <input type="text" id="id_parametro2" name="parametro2" class="form-control col-md-3 col-sm-12 col-xs-12">
                            </div>

                            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <input class="btn btn-success col-md-3 col-sm-12 col-xs-12" type="button" id="btnBuscar" value="Buscar">
                            </div>

                        </form>
                    </div>
                    <div class="row">
                        <div class="x_title"></div>

                        <div style="text-align: right">
                            <button class="btn btn-primary" onclick="window.location='/medicamentos/alta/'">Nuevo</button>
                        </div><br>

                        <table id="example" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th>Codigo</th>
                                    <th>Denominacion</th>
                                    <th>Linea Terapeutica</th>
                                    <th>Nombre Comercial</th>
                                    <th>Principio Activo</th>
                                    <th>Forma Farmaceutica</th>
                                    <th class=" no-link last"><span class="nobr">Acción</span></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for medicamento in medicamento_list %}
                            <tr class="odd pointer">
                                <td class=" ">{{ medicamento.get_codigo }}</td>
                                <td class=" ">{{ medicamento.denominacion }}</td>
                                <td class=" ">
                                    {% for medicamento in medicamento.medicamentolineaterapeutica_set.all %}
                                        {{ medicamento.linea_terapeutica }} -
                                    {% endfor %}
                                </td>
                                <td class=" ">{{ medicamento.nombre_comercial }} xx </td>
                                <td class=" ">
                                    {% for medicamento in medicamento.composicion_set.all %}
                                        {{ medicamento.principio_activo }} -
                                    {% endfor %}
                                </td>
                                <td class=" ">
                                    {% for medicamento in medicamento.administracionforma_set.all %}
                                        {{ medicamento.forma_farmaceutica }} -
                                    {% endfor %}
                                </td>
                                <td class=" last">
                                    <a href="/medicamentos/modi/{{ medicamento.id }}" >Ver</a>
                                </td>
                            </tr>
                            {% empty %}
                            <div class="alert alert-danger" role="alert">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                                No se encontraron registros
                            </div>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if is_paginated %}

                            <center>
                            <!--label>Ir a la página: <input type="text" id="page" name="page" size=3></label-->
                            </center>
                            <center>
                               <ul class="pagination">
                                   <li id="n_pag_inicio" ><a href="/medicamentos/listado/" title="Ir al inicio"> << </a></li>

                                    {% if page_obj.has_previous %}
                                        <li id="n_pag_{{page_obj.number}}"><a href="?page={{ page_obj.previous_page_number }}" title="Volver uno"> < </a></li>
                                    {% endif %}

                                    <li><a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>

                                    {% if page_obj.has_next %}
                                        <li id="n_pag_{{page_obj.number}}"><a href="?page={{ page_obj.next_page_number }}" title="Avanzar uno"> > </a></li>
                                    {% endif %}

                                    <li id="n_pag_fin"><a href="?page=last" title="Ir al final"> >> </a></li>
                                </ul>
                            </center>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>

    var hoy = new Date();
    var dia = hoy.getDate();
    var mes = hoy.getMonth() + 1;
    var anio = hoy.getFullYear();

    var fecha_hactual = (dia<10 ? '0' : '') + dia + '/' + (mes<10 ? '0' : '') + mes + '/' + anio;

    $(document).ready(function(){

        $("#div_parametro2").css("display", "none");
        $("#id_parametro1").attr("placeholder", "Seleccione un filtro");

        $("#id_estado").css("display", "none");
        $("#id_solicitante").css("display", "none");

    });

    $("#id_filtro").change(function(){

        $("#id_parametro1").attr('maxlength', 10);
        $("#id_parametro2").attr('maxlength', 10);

        if($("#id_filtro").val() == "SELECCIONE" || $("#id_filtro").val() == "TODOS"){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "block");
            $("#id_parametro1").attr("placeholder", "Seleccione un filtro");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#id_solicitante").css("display", "none");
            $("#id_estado").css("display", "none");

        }

        if($("#id_filtro").val() == "NUMERO_EXPEDIENTE"){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "block");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "block");
            $("#id_parametro2").css("display", "block");
            $("#id_parametro2").val("");

            $("#id_parametro2").attr('maxlength', 2);

            $("#id_solicitante").css("display", "none");
            $("#id_estado").css("display", "none");

            $("#id_parametro1").attr("placeholder", "Número");
            $("#id_parametro2").attr("placeholder", "Año");

        }

        if($("#id_filtro").val() == "NUMERO_RESOLUCION_PAGO"){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "block");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#id_solicitante").css("display", "none");
            $("#id_estado").css("display", "none");

            $("#id_parametro1").attr('placeholder', $('#id_filtro').val());
        }

        if($("#id_filtro").val() == "FECHA_EXPEDIENTE" ||
                $('#id_filtro').val() == "FECHA_RESOLUCION_PAGO"){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "block");
            $("#id_parametro1").val("");


            $("#div_parametro2").css("display", "block");
            $("#id_parametro2").css("display", "block");
            $("#id_parametro2").val("");

            $("#id_solicitante").css("display", "none");
            $("#id_estado").css("display", "none");

            $("#id_parametro1").attr('placeholder', 'Fecha Desde: dd/mm/aaaa');
            $("#id_parametro2").attr('placeholder', 'Fecha Hasta: dd/mm/aaaa');

            $("#id_parametro1").val(fecha_hactual);

        }

        if($("#id_filtro").val() == 'ESTADO'){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "none");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#id_solicitante").css("display", "none");
            $("#id_estado").css("display", "block");

        }

        if($("#id_filtro").val() == 'SOLICITANTE'){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "none");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#id_solicitante").css("display", "block");
            $("#id_estado").css("display", "none");

        }

    });

    $("#btnBuscar").click(function(){

        if($("#id_filtro").val() == "SELECCIONE"){

            alert("Por favor seleccione una filtro para la búsqueda!");
            return;

        }

        if($("#id_filtro").val() == "NUMERO_EXPEDIENTE"){

            if($("#id_parametro1").val() == "") {
                alert("Por favor instroduzca un parametro para la búsqueda!");
                $("#id_parametro1").focus();
                return;
            }

            if($("#id_parametro2").val() == ""){
                alert("Por favor instroduzca el año para la búsqueda!");
                $("#id_parametro2").focus();
                return;
            }

        }

        if($("#id_filtro").val() == "NUMERO_RESOLUCION_PAGO"){

            if($("#id_parametro1").val() == "") {
                alert("Por favor instroduzca un parametro para la búsqueda!");
                $("#id_parametro1").focus();
                return;
            }

        }

        if($("#id_filtro").val() == "FECHA_EXPEDIENTE" ||
                $("#id_filtro").val() == "FECHA_RESOLUCION_PAGO"){

            if($("#id_parametro1").val() == ""){
                alert("Por favor instroduzca una fecha desde para la búsqueda!");
                $("#id_parametro1").focus();
                return;
            }

            if($("#id_parametro2").val() == ""){
                alert("Por favor instroduzca una fecha hasta para la búsqueda!");
                $("#id_parametro2").focus();
                return;
            }

        }

        if($("#id_filtro").val() == 'ESTADO'){

            if($("#id_estado").val() == 0){
                alert("Por favor seleccione un estado para la búsqueda!");
                $("#id_estado").focus();
                return;
            }

        }

        if($("#id_filtro").val() == 'SOLICITANTE'){

            if($("#id_solicitante").val() == 0){
                alert("Por favor seleccione un empleado solicitante para la búsqueda!");
                $("#id_solicitante").focus();
                return;
            }

        }

        $("#frm").submit();
    });

    </script>


{% endblock %}



