{% extends 'arbol_item.html' %}
{% block content %}

    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/'><strong>INICIO</strong></a> --
            <a href='/entidades/listado'><strong>LISTA DE ENTIDADES</strong></a> --
            <a href='/entidades/modi/{{ entidad.id }}'><strong>DATOS DE LA ENTIDAD</strong></a>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">

        <form method="post"> {% csrf_token %}
        <div class="col-md-12 col-sm-12 col-xs-12 animated fadeInDown">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Entidad - {{ object }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-sm-12">
                        <h2 class="brief"><i> Está seguro de eliminar la siguiente Entidad?</i></h2>
                        <ul class="list-unstyled">
                            <li> <label>Descripcion</label> : {{ object.nombre }} </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_content">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-5">
                        <div class="col-xs-3 col-sm-3 emphasis">
                            <a class="btn btn-success btn-xl" href="/entidades/listado/" type="button"> <i class="fa fa-arrow-left"></i> Cancelar</a>
                        </div>
                        <div class="col-xs-3 col-sm-3 emphasis">
                            <button class="btn btn-danger btn-xl" type="submit" ><i class="fa fa-trash"></i> Eliminar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
{% endblock %}