{% extends 'arbol_item.html' %}
{% load staticfiles %}


{% block content %}
    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/'><strong>INICIO</strong></a> --
            <strong>LISTA DE ENTIDADES</strong></a>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <form method="get" id="frm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div class="x_title">
                        <h2>LISTA DE ENTIDADES</h2>
                        <div style="text-align: right">
                            <button type="button" class="btn btn-primary btn-round" onclick="window.location='/entidades/alta/'"><i class="fa fa-plus"></i> Crear Entidad</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    {% for entidad in object_list %}
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats" style="padding: 5px;">
                                <div class="count">
                                    {% if entidad.imagen %}
                                         <img src="/media/tramites_entidades/normal/{{ entidad.imagen }}" class="img-rounded" width="182px" height="87px">
                                    {% else %}
                                        <img src="/media/logo/formingdeveloper_icon_grises_75x75.png" class="img-rounded" width="182px" height="87px">
                                    {% endif %}
                                     <div style="text-align: right">
                                        <h4>
                                            <a href="/entidades/modi/{{ entidad.id }}" title="Breve informe"> +Info</a> |
                                            <a href="/entidades/modi/{{ entidad.id }}" title="Editar"><i class="fa fa-pencil"></i></a> |
                                            <a href="/entidades/delete/{{ entidad.id }}" title="Eliminar"><i class="fa fa-trash"></i></a>
                                        </h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        </form>
    </div>

    <script>

        $("#btnBuscar").click(function () {
            $("#frm").submit();
        });

    </script>


{% endblock %}



