{% extends 'arbol_item.html' %}
{% load staticfiles%}
{% load expediente_tags %}
{% block content %}

<div style="background-color:#ccc">
    <a href='/expedientes/listado'><strong>LISTADO</strong></a> --
    <a href='/expedientes/modi/{{expediente.id}}'>
    <strong>EXPEDIENTE</strong>
    </a> --
    <strong>SERVICIOS MÉDICOS</strong>
    <br><br>
</div>
<br>

{% for msg in messages %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"></span>
           {{ msg }}
        </div>
    </div>
{% endfor %}

<form form id="frm" action="" method="post">{% csrf_token %}

    <div style="width:700px"> Etapa: {{ form.etapa }}<br>
        <div class="x_panel">
            <div class="x_title">
            <h2>COMPROMISO - ORDENADO</h2>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="divCompromisoOrdenado">
                    <input type="hidden" id="id_expediente" name="expediente" value="{{expediente.id}}">

                    Servicio : {{ form.servicio_administracion }} <br>

                    {% if form.profesional.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.profesional.label }}
                                {{ form.profesional.errors }}
                            </div>
                        </div>
                    {% endif %}

                {% if form.instance.profesional %}
                    Profesional: <input class="form-control" type="text" id="buscar_empleado" name="buscar_empleado" value="{{ form.instance.profesional }}">
                    <input type="hidden" id="id_profesional" name="profesional" value="{{ form.instance.profesional.id }}"><br>
                {% else %}
                    Profesional: <input class="form-control" type="text" id="buscar_empleado" name="buscar_empleado" >
                    <input type="hidden" id="id_profesional" name="profesional"><br>
                {% endif %}

                    {% if form.resolucion_contratacion.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.resolucion_contratacion.label }}
                                {{ form.resolucion_contratacion.errors }}
                            </div>
                        </div>
                    {% endif %}

                    Resolución de Contratación *: {{ form.resolucion_contratacion }} <br>

                    {% if form.numero_contratacion.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.numero_contratacion.label }}
                                {{ form.numero_contratacion.errors }}
                            </div>
                        </div>
                    {% endif %}

                    {% if form.numero_contratacion.value %}
                        Número de Contratación *: <input class="form-control" value="{{ form.numero_contratacion.value | agregar_ceros:4 }}" name="numero_contratacion" id="id_numero_contratacion"> <br>
                    {% else %}
                        Número de Contratación *: {{ form.numero_contratacion }} <br>
                    {% endif %}

                    {% if form.fecha_resolucion_contratacion.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.fecha_resolucion_contratacion.label }}
                                {{ form.fecha_resolucion_contratacion.errors }}
                            </div>
                        </div>
                    {% endif %}

                    Fecha de la Resolución de Contratación: {{ form.fecha_resolucion_contratacion }} <br>

                    {% if form.orden_provision.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.orden_provision.label }}
                                {{ form.orden_provision.errors }}
                            </div>
                        </div>
                    {% endif %}

                    {% if form.orden_provision.value %}
                        Orden de Provisión: <input class="form-control" value="{{ form.orden_provision.value | agregar_ceros:4 }}" name="orden_provision" id="id_orden_provision"> <br>
                    {% else %}
                        Orden de Provisión: {{ form.orden_provision }} <br>
                    {% endif %}

                    {% if form.acta_recepcion.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.acta_recepcion.label }}
                                {{ form.acta_recepcion.errors }}
                            </div>
                        </div>
                    {% endif %}

                    {% if form.acta_recepcion.value %}
                        Acta de Recepción: <input class="form-control" value="{{ form.acta_recepcion.value | agregar_ceros:4 }}" name="acta_recepcion" id="id_acta_recepcion"> <br>
                    {% else %}
                        Acta de Recepción: {{ form.acta_recepcion }} <br>
                    {% endif %}

                    {% if form.numero_resolucion_pago.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.numero_resolucion_pago.label }}
                                {{ form.numero_resolucion_pago.errors }}
                            </div>
                        </div>
                    {% endif %}

                    {% if form.numero_resolucion_pago.value %}
                        Resolución de Pago: <input class="form-control" value="{{ form.numero_resolucion_pago.value | agregar_ceros:4 }}" name="numero_resolucion_pago" id="id_numero_resolucion_pago"> <br>
                    {% else %}
                        Resolución de Pago: {{ form.numero_resolucion_pago }} <br>
                    {% endif %}


                    {% if form.fecha_resolucion_pago.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.fecha_resolucion_pago.label }}
                                {{ form.fecha_resolucion_pago.errors }}
                            </div>
                        </div>
                    {% endif %}

                    Fecha de Resolución de Pago: {{ form.fecha_resolucion_pago }} <br>

                    {% if form.importe.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.importe.label }}
                                {{ form.importe.errors }}
                            </div>
                        </div>
                    {% endif %}

                    Importe *: {{ form.importe }}
                    {{ form.tipo_transaccion }}

                    {% if form.numero_identificacion_transaccion.value %}
                        <input value="{{ form.numero_identificacion_transaccion.value | agregar_ceros:4 }}" name="numero_identificacion_transaccion" id="id_numero_identificacion_transaccion"> <br>
                    {% else %}
                        {{ form.numero_identificacion_transaccion }} <br>
                    {% endif %}
                    <br>

                    {% if form.solicitante_resolucion_pago.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.solicitante_resolucion_pago.label }}
                                {{ form.solicitante_resolucion_pago.errors }}
                            </div>
                        </div>
                    {% endif %}

                <!-- Mensaje de Error -->

                {% if form.instance.solicitante_resolucion_pago %}
                    Solicitante de Resolución de Pago *: <input class="form-control" type="text" id="buscar_empleado_solicitante" name="buscar_empleado_solicitante" value="{{ form.instance.solicitante_resolucion_pago }}">
                    <input type="hidden" id="id_solicitante_resolucion_pago" name="solicitante_resolucion_pago" value="{{ form.instance.solicitante_resolucion_pago.id }}"><br>
                {% else %}
                    Solicitante de Resolución de Pago *: <input class="form-control" type="text" id="buscar_empleado_solicitante" name="buscar_empleado_solicitante">
                    <input type="hidden" id="id_solicitante_resolucion_pago" name="solicitante_resolucion_pago" ><br>
                {% endif %}


                    {% if form.fuente_financiamiento.errors %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form.fuente_financiamiento.label }}
                                {{ form.fuente_financiamiento.errors }}
                            </div>
                        </div>
                    {% endif %}

                    Fuente de Finaciamiento *: {{ form.fuente_financiamiento }} <br>
                    Observaciones: {{ form.observaciones }} <br><br>
                </div>
            </div>
        </div>

        <input type="button" id="btnGuardar" value="Guardar" class="btn btn-primary">
    </div>
</form>
    <link href="{% static 'css/autocomplete/autocomplete.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/autocomplete/jquery.autocomplete.js' %}"></script>
<script>

    $('#buscar_empleado').autocomplete({
        serviceUrl: '/empleados/get_empleado_autocomplete',
        //lookup: countriesArray,
        lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        },

        onSelect: function(suggestion) {
            $('#id_profesional').val(suggestion.data);
        },

        onInvalidateSelection: function() {
            $('#buscar_empleado').html('You selected: none');
        }
    });


    $('#buscar_empleado_solicitante').autocomplete({
        serviceUrl: '/empleados/get_empleado_autocomplete',
        //lookup: countriesArray,
        lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        },

        onSelect: function(suggestion) {
            $('#id_solicitante_resolucion_pago').val(suggestion.data);
        },

        onInvalidateSelection: function() {
            $('#buscar_empleado_solicitante').html('You selected: none');
        }
    });

    $("#id_importe").keypress(function(event)
    {
        if (event.which == 13)
        {
            get_tipo_transaccion();
            return false;
        }
    });

    $("#id_importe").blur(function()
    {
        get_tipo_transaccion();
    });

    $(document).ready(function()
    {
        {% if not form.errors %}
            $("#id_etapa").val({{expediente.etapa_id}});
            inicializar_controles();
        {% endif %}

        $("#id_orden_provision").prop("placeholder", "Si no ingresa valor, el sistema lo creará automáticamente.");
        $("#id_acta_recepcion").prop("placeholder", "Si no ingresa valor, el sistema lo creará automáticamente.");
        $("#id_numero_resolucion_pago").prop("placeholder", "Si no ingresa valor, el sistema lo creará automáticamente.");

        $("#id_numero_contratacion").prop("readonly", true);
    });

    $("#id_etapa").change(function()
    {
        inicializar_controles();
    });

    function get_tipo_transaccion()
    {
        var importe = parseFloat($("#id_importe").val());

        if (isNaN(importe))
        {
            $("#id_importe").val("")
            $("#id_tipo_transaccion").val("");
            $("#id_numero_identificacion_transaccion").val("");
            return;
        }

        $.ajax({
            url:"/expedientes/get_tipo_transaccion/",
            cache: false,
            type: "GET",
            data: {importe: importe},
            success: function(request) {
                //console.log(request);

                if (request.result == 'error')
                {
                    alert(request.msg);
                    $("#id_importe").focus()
                    $("#id_tipo_transaccion").val("");
                    $("#id_numero_identificacion_transaccion").val("");
                    return
                }

                $("#id_tipo_transaccion").val(request.tipo_transaccion);
                $("#id_numero_identificacion_transaccion").val(
                    request.numero_identificacion_transaccion);
                $("#id_numero_identificacion_transaccion").val(("000" + $("#id_numero_identificacion_transaccion").val()).slice(-4));
            }
        });
    }

    function inicializar_controles()
    {
        if ("{{expediente.estado.valor}}" == "CERRADO")
        {
            $("#id_etapa").prop("disabled", true);
            $("#btnGuardar").prop("disabled", true);
            $("#divCompromisoOrdenado").children().prop("disabled", true);

            return;
        }

        var etapa = $("#id_etapa").val();

        $.ajax({
            url:"/expedientes/get_etapa/",
            cache: false,
            type: "GET",
            data: {etapa_id: etapa},
            success: function(request) {
                console.log(request);

                if (request.valor == "COMPROMISO_ORDENADO")
                {
                    $("#divCompromisoOrdenado").children().prop("disabled", false);
                    $("#btnGuardar").prop("disabled", false);
                }
                else
                {
                    $("#btnGuardar").prop("disabled", true);
                    $("#divCompromisoOrdenado").children().prop("disabled", true);
                }
            }
        });

    }

    $("#btnGuardar").click(function()
    {
        if (!isNaN($("#buscar_empleado").val()) && $("#id_servicio_administracion").val() == '')
        {
            alert("Por favor seleccione un Servicio o un Profesional");
            return 0;
        }

        if (!isNaN($("#buscar_empleado_solicitante").val()))
        {
            alert("Por favor seleccione un solicitante!");
            $("#buscar_empleado_solicitante").focus();
            $("#buscar_empleado_solicitante").select();
            return 0;
        }

        $('#frm').submit();
    });

</script>


{% endblock %}