{% extends 'arbol_item.html' %}
{% load staticfiles %}
{% load expediente_tags %}
{% block content %}

    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/expedientes/listado'><strong>LISTADO</strong></a> --
            <a href='/expedientes/modi/{{ expediente.id }}/'><strong>EXPEDIENTE</strong></a> --
            <strong>RESOLUCIÓN CONTRATACIÓN</strong>
        </div>
    </div>


<form id="frm" class="form-horizontal form-label-left" action="" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <label class="control-label">Etapa <span class="required">*</span></label>
            {{ form.etapa }}
        </div>
    </div></br>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>RESOLUCIÓN DE CONTRATACIÓN</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    {% for msg in messages %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-success" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                               {{ msg }}
                            </div>
                        </div>
                    {% endfor %}


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input id="id_expediente" name="expediente" type="hidden" value="{{ expediente.id }}" />
                    </div>

                    <div id="campos">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                               {% if form.proveedor.errors %}
                                   <div class="col-md-12 col-sm-12 col-xs-12">
                                       <div class="alert alert-danger" role="alert">
                                           <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                           <span class="sr-only">Error:</span>
                                           {{ form.proveedor.label }}
                                           {{ form.proveedor.errors }}
                                       </div>
                                   </div>
                               {% endif %}
                           <label class="control-label">Proveedor <span class="required">*</span></label>
                           <input class="form-control" type="text" id="buscar_proveedor" value="{{ expediente.expedienteresolucioncontratacion.proveedor }}"/>
                           <input type="hidden" name="proveedor" id="id_proveedor" value="{{ expediente.expedienteresolucioncontratacion.proveedor.id }}"/>
                        </div>



                        <div class="col-md-12 col-sm-12 col-xs-12">
                               {% if form.numero_resolucion.errors %}
                                   <div class="col-md-12 col-sm-12 col-xs-12">
                                       <div class="alert alert-danger" role="alert">
                                           <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                           <span class="sr-only">Error:</span>
                                           {{ form.numero_resolucion.label }}
                                           {{ form.numero_resolucion.errors }}
                                       </div>
                                   </div>
                               {% endif %}
                            <label class="control-label">N° de Resolución <span class="required">*</span></label>
                            {% if form.numero_resolucion.value %}
                                <input class="form-control" value="{{ form.numero_resolucion.value | agregar_ceros:4 }}" name="numero_resolucion" id="id_numero_resolucion">
                            {% else %}
                                {{ form.numero_resolucion }}
                            {% endif %}
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                               {% if form.fecha_resolucion.errors %}
                                   <div class="col-md-12 col-sm-12 col-xs-12">
                                       <div class="alert alert-danger" role="alert">
                                           <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                           <span class="sr-only">Error:</span>
                                           {{ form.fecha_resolucion.label }}
                                           {{ form.fecha_resolucion.errors }}
                                       </div>
                                   </div>
                               {% endif %}
                            <label class="control-label">Fecha de Resolución <span class="required">*</span></label>
                            {{ form.fecha_resolucion }}
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                               {% if form.observacioness.errors %}
                                   <div class="col-md-12 col-sm-12 col-xs-12">
                                       <div class="alert alert-danger" role="alert">
                                           <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                           <span class="sr-only">Error:</span>
                                           {{ form.observaciones.label }}
                                           {{ form.observaciones.errors }}
                                       </div>
                                   </div>
                               {% endif %}
                            <label class="control-label">Observación </label>
                            {{ form.observaciones }}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="button" id="btnGuardar" class="btn btn-primary" value="Guardar"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

    <link href="{% static 'css/autocomplete/autocomplete.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/autocomplete/jquery.autocomplete.js' %}"></script>

<script>

    $(document).ready(function(){

        $("#id_numero_resolucion").prop("placeholder", "Si no ingresa valor, el sistema lo creará automáticamente.");

        {% if not form.errors %}

            $("#id_etapa").val({{expediente.etapa.id}});

            $("#campos").children().children().prop('disabled', true);

            var etapa = $("#id_etapa option[value="+ $('#id_etapa').val() +"]").text();

            if(etapa.toUpperCase() == "COMPROMISO Y ORDENADO"){
                $("#campos").children().children().prop('disabled', true);
            }

            if('{{ expediente.estado.valor }}' == "CERRADO"){
                $("#frm").children().children().children().prop('disabled', true);
            }

        {% else %}

            $("#buscar_proveedor").val('{{ proveedor_seleccionado }}');
            $("#id_proveedor").val('{{ form.proveedor.value }}');
            //$("#buscar_proveedor").val('{{ form.proveedor.value }}');
            //$("#buscar_proveedor").focus();

        {% endif %}

    });

    $('#buscar_proveedor').autocomplete({
        serviceUrl: '/empleados/get_proveedor_autocomplete',
        //lookup: countriesArray,
        lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        },

        onSelect: function(suggestion) {
            $('#id_proveedor').val(suggestion.data);
        },

        onInvalidateSelection: function() {
            $('#buscar_proveedor').html('You selected: none');
        }
    });

    $('.errorlist').css('color', '#a94442');
    $('.errorlist').css('list-style-type', 'none');

    $("#id_etapa").change(function(){

        var etapa = $("#id_etapa option[value="+ $('#id_etapa').val() +"]").text();
        if(etapa.toUpperCase() == "COMPROMISO Y ORDENADO"){
            $("#campos").children().children().prop('disabled', false);
        }

        if(etapa.toUpperCase() == "PREVENTIVO"){
            $("#campos").children().children().prop('disabled', true);
        }
    });

    $("#btnGuardar").click(function(){

        if(!isNaN($("#buscar_proveedor").val())){
            alert("Por favor seleccione un proveedor!");
            $("#buscar_proveedor").focus();
            return;
        }

        var etapa = $("#id_etapa option[value="+ $('#id_etapa').val() +"]").text();

        if(etapa.toUpperCase() == "COMPROMISO Y ORDENADO"){
            if(confirm("ATENCION: Está seguro de guardar la Disposición con la etapa" +
                    " 'Compromiso y Ordenado'?, una vez confirmado no podrá realizar cambios!")){

                $('#frm').submit();
            }

            return;
        }
    });
</script>


{% endblock %}