{% extends 'arbol_item.html' %}
{% load staticfiles %}

{% block content %}

    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/expedientes/listado'><strong>LISTADO</strong></a> --
            <a href='/expedientes/modi/{{ expediente.id }}/'><strong>EXPEDIENTE</strong></a> --
            <strong>COMODATO</strong>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="form-group">
                            {% if form.etapa.errors %}
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        {{ form.etapa.label }}
                                        {{ form.etapa.errors }}
                                    </div>
                                </div>
                            {% endif %}
                        * Etapa: {{ form.etapa }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="frm" action="" method="post">
        <input id="id_expediente" name="expediente" type="hidden" value="{{ expediente.id }}" />
        <input id="id_comodato" name="comodato" type="hidden" value="" />
        {% csrf_token %}

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="x_panel">
                    <div class="x_title">
                        <h2>COMODATO</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content" >
                        {% for msg in messages %}
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-success" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only"></span>
                                   {{ msg }}
                                </div>
                            </div>
                        {% endfor %}

                        <div id="divCompromisoOrdenado">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.proveedor.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.proveedor.label }}
                                                {{ form.proveedor.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Proveedor: <span class="required">*</span></label>
                                <input class="form-control" type="text" id="buscar_proveedor" value=""/>
                                <input type="hidden" name="proveedor" id="id_proveedor" value=""/>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.resolucion_contratacion.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.resolucion_contratacion.label }}
                                                {{ form.resolucion_contratacion.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Resolución de Contratación: <span class="required">*</span></label> {{ form.resolucion_contratacion}}<br>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.fecha_resolucion_contratacion.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.fecha_resolucion_contratacion.label }}
                                                {{ form.fecha_resolucion_contratacion.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Fecha de Resolución de Contratación:  <span class="required">*</span></label>{{ form.fecha_resolucion_contratacion }}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.importe.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.importe.label }}
                                                {{ form.importe.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Importe: $  <span class="required">*</span></label>{{ form.importe }}<br>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.orden_provision.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.orden_provision.label }}
                                                {{ form.orden_provision.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Orden de Provisión:  <span class="required">*</span></label>{{ form.orden_provision }}<br>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.resolucion_pago.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.resolucion_pago.label }}
                                                {{ form.resolucion_pago.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Resolución de Pago: <span class="required">*</span></label> {{ form.resolucion_pago }}<br>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.fecha_resolucion_pago.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.fecha_resolucion_pago.label }}
                                                {{ form.fecha_resolucion_pago.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Fecha Resolución de Pago:  <span class="required">*</span></label>{{ form.fecha_resolucion_pago }}<br>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.solicitante_resolucion_pago.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.solicitante_resolucion_pago.label }}
                                                {{ form.solicitante_resolucion_pago.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Solicitante de la Resolución de Pago: <span class="required">*</span></label>
                                <input class="form-control" type="text" id="buscar_empleado_solicitante" value=""/>
                                <input type="hidden" name="empleado_solicitante" id="id_empleado_solicitante" value=""/>
                                <br>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.fuente_financiamiento.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.fuente_financiamiento.label }}
                                                {{ form.fuente_financiamiento.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Fuente de Financiamiento *:</label> {{ form.fuente_financiamiento }}<br>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if form.observaciones.errors %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.observaciones.label }}
                                                {{ form.observaciones.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <label>Observaciones:</label> {{ form.observaciones }}<br>
                            </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-12"><br>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <center><input type="button" id="btnAgregar" onclick="agregar()" value="Agregar" class="btn btn-primary"></center>
                        </div>
                    </div>

                </div>
             </div>
        </div>
    </form>


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="tabla_comodato" name="tabla_comodato" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr>
                            <th>Resolución de Contratación</th>
                            <th>Importe</th>
                            <th>Orden de Provisión</th>
                            <th>Resolución de Pago</th>
                            <th>Fecha de la Resolución de Pago</th>
                            <th>Solicitante de la R. de Pago</th>
                            <th>Observación</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <center><input type="button" onclick="guardar()" id="btnGuardar" class="btn btn-primary" value="Guardar"></center>

    <link href="{% static 'css/autocomplete/autocomplete.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/autocomplete/jquery.autocomplete.js' %}"></script>

<script>

    $(document).ready(function()
    {
        {% if not form.errors %}
            $("#id_etapa").val({{expediente.etapa_id}});
            inicializar_controles();
        {% endif %}
    });


    $("#id_etapa").change(function()
    {
        inicializar_controles();
    });


    function inicializar_controles()
    {
        var etapa = $("#id_etapa").val();

        if ("{{expediente.estado.valor}}" == "CERRADO")
        {
            $("#id_etapa").prop("disabled", true);
            $("#btnGuardar").prop("disabled", true);
            $("#divCompromisoOrdenado :input").prop("disabled", true)
            return;
        }

        if (etapa == 4)
        {
            $("#divCompromisoOrdenado :input").prop("disabled", false)
            $("#btnGuardar").prop("disabled", false);
            $("#btnAgregar").prop("disabled", false);
        }
            else
        {
            $("#btnGuardar").prop("disabled", true);
            $("#btnAgregar").prop("disabled", true);
            $("#divCompromisoOrdenado :input").prop("disabled", true)
        }
    }

    $('#buscar_empleado_solicitante').autocomplete({
        serviceUrl: '/empleados/get_empleado_autocomplete',
        //lookup: countriesArray,
        lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        },

        onSelect: function(suggestion) {
            $('#id_empleado_solicitante').val(suggestion.data);
        },

        onInvalidateSelection: function() {
            $('#buscar_empleado_solicitante').html('You selected: none');
        }
    });


    $('#buscar_proveedor').autocomplete({
        serviceUrl: '/empleados/get_proveedor_autocomplete',
        //lookup: countriesArray,
        lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        },

        onSelect: function(suggestion) {
            $('#id_proveedor').val(suggestion.data);
        },

        onInvalidateSelection: function() {
            $('#buscar_proveedor').html('You selected: none');
        }
    });


    $("#id_orden_provision").blur(function() {

        $("#btnAgregarCompromiso").prop("disabled", false);

        if($("#id_orden_provision").val() != "") {

            var orden_provision = $("#id_orden_provision").val();

            $.ajax({
                type: "GET",
                url: "/expedientes/licitacion/get_numero_ingreso_manual_es_valido/",
                data: {
                    tipo: "ORDEN_PROVISION",
                    numero: orden_provision,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },

                success: function (data) {

                    if (!data) {
                        alert("El numero de orden de provision ingresado es incorrecto!");

                        $("#id_orden_provision").select();
                        $("#id_orden_provision").focus();

                        $("#btnAgregarCompromiso").prop("disabled", true);
                        return;
                    } else {
                        $("#btnAgregarCompromiso").prop("disabled", false);
                    }

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    $("#id_resolucion_pago").blur(function() {

        $("#btnAgregar").prop("disabled", false);
        if($("#id_resolucion_pago").val() != "") {

                var numero_resolucion_pago = $("#id_resolucion_pago").val();
                $.ajax({
                        type: "GET",
                        url: "/expedientes/licitacion/get_numero_ingreso_manual_es_valido/",
                        data: {
                            tipo: "RESOLUCION_PAGO",
                            numero: numero_resolucion_pago,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },

                        success: function (data) {
                            if (!data) {
                                alert("El numero de resolución de pago ingresado es incorrecto!");
                                $("#id_resolucion_pago").select();
                                $("#id_resolucion_pago").focus();
                                $("#btnAgregar").prop("disabled", true);
                                return;
                            } else {
                                $("#btnAgregar").prop("disabled", false);
                            }
                        },

                        error: function (err) {
                            console.log(err);
                        }
                });
            }
    });


    function agregar()
    {
            if($("#id_proveedor").val() == '')
            {
                alert('Por favor seleccione un Proveedor');
                return 0;
            }

            if($("#id_resolucion_contratacion").val() == '')
            {
                alert('Por favor ingrese una Resolución de Contratación');
                return 0;
            }

            if($("#id_fecha_resolucion_contratacion").val() == '')
            {
                alert('Por favor ingrese una Fecha de Resolución de Contratación');
                return 0;
            }

            if($("#id_importe").val() == '')
            {
                alert('Por favor ingrese un Importe');
                return 0;
            }


            if($("#id_fecha_resolucion_pago").val() == '')
            {
                alert('Por favor ingrese una Fecha de Resolución de Pago');
                return 0;
            }

            if($("#id_solicitante_resolucion_pago option:selected").val() == '')
            {
                alert('Por favor seleccione un Solicitante Resolución Pago');
                return 0;
            }

            if($("#buscar_empleado_solicitante").val() == '')
            {
                alert('Por favor seleccione un Solicitante Resolución Pago');
                return 0;
            }


            if(!isNaN($("#buscar_empleado_solicitante").val())){
                alert("Por favor seleccione un solicitante!");
                $("#buscar_empleado_solicitante").focus();
                $("#buscar_empleado_solicitante").select();
                return 0;
            }


            if(!isNaN($("#buscar_proveedor").val())){
                alert("Por favor seleccione un proveedor!");
                $("#buscar_proveedor").focus();
                $("#buscar_proveedor").select();
                return 0;
            }


            //SE APLICAN CAMBIOS PARA LA CARGA DE EMPLEADOS SOLICITANTES

            row = '<tr>' +
            '<td>' + $("#id_resolucion_contratacion").val() + '</td>' +
            '<td>' + $("#id_importe").val() + '</td>' +
            '<td>' + $("#id_orden_provision").val() + '</td>' +
            '<td>' + $("#id_resolucion_pago").val() + '</td>' +
            '<td>' + $("#id_fecha_resolucion_pago").val() + '</td>' +
            //'<td>' + $("#id_solicitante_resolucion_pago option:selected").text() + '</td>' +
            '<td>' + $("#buscar_empleado_solicitante").val() + '</td>' +
            '<td>' + $("#id_observaciones").val() + '</td>' +
            //'<td style="display:none;">' + $("#id_solicitante_resolucion_pago option:selected").val() + '</td>' +
            '<td style="display:none;">' + $("#id_empleado_solicitante").val() + '</td>' +
            '<td><a onclick ="delete_row($(this))">Eliminar</a></td>' +
            '</tr>';
            //alert(row);
            $('#tabla_comodato> tbody:last').append(row);

            //$("#divCompromisoOrdenado :input").val('')
            $("#id_resolucion_contratacion").val('');
            $("#id_importe").val('');
            $("#id_orden_provision").val('');
            $("#id_resolucion_pago").val('');
            //$("#id_fecha_resolucion_pago").val(''); // a pedido de benja #1156
            $("#id_solicitante_resolucion_pago").val('');
            $("#id_observaciones").val('');

    }

    function delete_row(row)
    {
        row.closest('tr').remove();
    }

    function guardar()
    {

    if ($('#tabla_comodato >tbody >tr').length == 0){
        alert ('Debe agregar al menos un item');
        return 0;
    }

    if($("#id_fuente_financiamiento").val() == '')
    {
        alert('Por favor seleccione una Fuente de Financiamiento');
        return 0;
    }

    if($("#id_proveedor").val() == '')
    {
        alert('Por favor seleccione un Proveedor');
        return 0;
    }

    if($("#id_fecha_resolucion_contratacion").val() == '')
    {
        alert('Por favor ingrese una Fecha de Resolución de Contratación');
        return 0;
    }

    var comodato = new Array();
    var myObj = {};
    var expediente, proveedor, fecha_resolucion_contratacion, fuente_financiamiento;
    var resolucion_contratacion, importe;
    var orden_provision, resolucion_pago, fecha_resolucion_pago;
    var solicitante_resolucion_pago, observaciones;


    $("#tabla_comodato tbody tr").each(function (index)
        {
            $(this).children("td").each(function (index2)
            {
                switch (index2)
                {
                    case 0: resolucion_contratacion  = $(this).text();
                    break;
                    case 1: importe  = $(this).text();
                    break;
                    case 2: orden_provision  = $(this).text();
                    break;
                    case 3: resolucion_pago  = $(this).text();
                    break;
                    case 4: fecha_resolucion_pago = $(this).text();
                    break;
                    case 7: solicitante_resolucion_pago  = $(this).text();
                    break;
                    case 6: observaciones = $(this).text();
                    break;
                }
            })

        //alert({{ expediente.id }});

            expediente = $("#id_expediente").val();
            proveedor = $("#id_proveedor").val();
            fecha_resolucion_contratacion = $("#id_fecha_resolucion_contratacion").val();
            fuente_financiamiento = $("#id_fuente_financiamiento").val();

            myObj = {
                expediente : expediente,
                proveedor : proveedor,
                resolucion_contratacion : resolucion_contratacion ,
                fecha_resolucion_contratacion : fecha_resolucion_contratacion.split('/').reverse().join('-'),
                importe : importe,
                orden_provision : orden_provision,
                resolucion_pago : resolucion_pago,
                fecha_resolucion_pago : fecha_resolucion_pago.split('/').reverse().join('-'),
                solicitante_resolucion_pago : solicitante_resolucion_pago,
                fuente_financiamiento : fuente_financiamiento,
                observaciones : observaciones
            };

            comodato.push(myObj);
            var jsonItemsProveedor = JSON.stringify(comodato);
            $("#id_comodato").val(jsonItemsProveedor);
            //alert(comodato);
        })

        $("#id_expediente").val('{{ expediente.id }}')

        $('#frm').submit();
    }



</script>
{% endblock %}