{% extends 'arbol_item.html' %}
{% load staticfiles %}
{% load global_tags %}
{% block content %}

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista de Expedientes</h2>
                    <div class="clearfix"></div>

                </div>
                <div class="x_content">
                    <label for="heard">Filtrar:</label>
                    <div class="row">
                        <form method="get" id="frm">
                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <select class="form-control col-md-3 col-sm-12 col-xs-12" id="id_filtro" name="filtro">
                                    <option value="SELECCIONE">Seleccione..</option>
                                    <option value="TODOS">TODOS</option>
                                    <option value="NUMERO_EXPEDIENTE">Nro. Expediente</option>
                                    <option value="NUMERO_RESOLUCION_PAGO">Nro. Resolución de Pago</option>
                                    <option value="FECHA_EXPEDIENTE">Fecha Expediente</option>
                                    <option value="FECHA_RESOLUCION_PAGO">Fecha Resolución de Pago</option>
                                    <option value="ESTADO">Estado</option>
                                    <option value="SOLICITANTE">Solicitante</option>
                                    <option value="TIPO_RESOLUCION">Tipo Resolución</option>
                                    <!--option style="visibility: hidden" value="EXPEDIENTES_RESERVADOS">Expedientes Reservados</option-->
                                </select>
                            </div>

                            <div class="form-group col-md-3 col-sm-12 col-xs-12" id="div_parametro1">
                                <input type="text" id="id_parametro1" name="parametro1" class="form-control col-md-3 col-sm-12 col-xs-12" placeholder="">

                                <select class="form-control col-md-3 col-sm-12 col-xs-12" id="id_estado" name="estado" style="display: none">
                                    <option value="0">Seleccione..</option>
                                    {% for estado in estados %}
                                        <option value="{{ estado.valor }}">{{ estado.descripcion }}</option>
                                    {% endfor %}
                                </select>

                                <input class="form-control" type="text" id="buscar_empleado_solicitante" value="{{ expediente.empleado_solicitante }}"/>
                                <input type="hidden" name="solicitante" id="id_solicitante" value="{{ expediente.empleado_solicitante.id }}"/>
                            </div>
                            <div class="form-group col-md-3 col-sm-12 col-xs-12" id="div_parametro2" style="display: none">
                                <input type="text" id="id_parametro2" name="parametro2" class="form-control col-md-3 col-sm-12 col-xs-12">
                            </div>

                            <div class="form-group col-md-3 col-sm-12 col-xs-12" id="div_parametro3" style="display: none">

                                <select class="form-control col-md-3 col-sm-12 col-xs-12" id="id_tipo_resolucion" name="tipo_resolucion">
                                    <option value="0">Seleccione..</option>
                                    {% for tipo_resolucion in tipos_resoluciones %}
                                        <option value="{{ tipo_resolucion.valor }}">
                                          {{ tipo_resolucion.descripcion }}
                                        </option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <input class="btn btn-success col-md-3 col-sm-12 col-xs-12" type="button" id="btnBuscar" value="Buscar">
                            </div>

                        </form>
                    </div>
                    <div class="row">
                        <div class="x_title"></div>

                        <div style="text-align: right">
                            <button class="btn btn-primary" id="btnNuevoExpediente">Nuevo Expediente</button>
                        </div><br>

                        <table id="example" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th>Expediente </th>
                                    <th>Fecha </th>
                                    <th>Solicitante</th>
                                    <th>Estado</th>
                                    <th>Inst. Legal / Clase</th>
                                    <th class=" no-link last"><span class="nobr">Acción</span></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for expediente in expediente_list %}
                            <tr class="odd pointer">
                                <td class=" ">{{ expediente.letra }}-{{ expediente.numero | default:"" }}-{{ expediente.anio }}</td>
                                <td class=" ">{{ expediente.fecha | date:"d/m/Y" }}</td>
                                <td class=" ">{{ expediente.empleado_solicitante }}</td>
                                <td class=" ">{{ expediente.estado }}</td>
                                <td class=" ">{{ expediente.clase }}</td>
                                <td class=" last">
                                    <a href="/expedientes/modi/{{ expediente.id }}" >Ver</a>
                                </td>
                            </tr>
                            {% empty %}
                            <div class="alert alert-danger" role="alert">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                                No se encontraron registros
                            </div>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if is_paginated %}

                            <center>
                            <!--label>Ir a la página: <input type="text" id="page" name="page" size=3></label-->
                            </center>
                            <center>
                               <ul class="pagination">
                                   <li id="n_pag_inicio" ><a href="?{% url_replace request 'page' '1' %}" title="Ir al inicio"> << </a></li>
                                    {% if page_obj.has_previous %}
                                        <li id="n_pag_{{page_obj.number}}">
                                            <!--a href="?page={{ page_obj.previous_page_number }}" title="Volver uno"> < </a-->
                                            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}" title="Volver uno"> < </a>
                                        </li>
                                    {% endif %}

                                    <li><a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>

                                    {% if page_obj.has_next %}
                                        <li id="n_pag_{{page_obj.number}}">
                                            <!--a href="?page={{ page_obj.next_page_number }}" title="Avanzar uno"> > </a-->
                                            <a href="?{% url_replace request 'page' page_obj.next_page_number %}" title="Avanzar uno"> > </a>
                                        </li>
                                    {% endif %}
                                    <li id="n_pag_fin"><a href="?{% url_replace request 'page' 'last' %}" title="Ir al final"> >> </a></li>
                                </ul>
                            </center>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>

    <link href="{% static 'css/autocomplete/autocomplete.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/autocomplete/jquery.autocomplete.js' %}"></script>

    <script>

    var hoy = new Date();
    var dia = hoy.getDate();
    var mes = hoy.getMonth() + 1;
    var anio = hoy.getFullYear();

    var fecha_hactual = (dia < 10 ? '0' : '') + dia + '/' + (mes < 10 ? '0' : '') + mes + '/' + anio;

    $(document).ready(function(){

           try
           {

                var param = /filtro=([^&]+)/.exec(location.search)[1];
                $('#id_filtro').val(param);

                if (param == "SELECCIONE" || param == "TODOS" || param == "EXPEDIENTES_RESERVADOS")
                {
                    $("#div_parametro1").css("display", "block");
                    $("#id_parametro1").css("display", "block");
                    $("#id_parametro1").attr("placeholder", "Seleccione un filtro");
                    $("#id_parametro1").val("");
                    $("#div_parametro2").css("display", "none");
                    $("#id_parametro2").val("");
                    $("#buscar_empleado_solicitante").css("display", "none");
                    $("#id_estado").css("display", "none");
                }

                if (param == "NUMERO_EXPEDIENTE")
                {
                    $("#div_parametro1").css("display", "block");
                    $("#id_parametro1").css("display", "block");
                    $("#id_parametro1").val("");
                    $("#div_parametro2").css("display", "block");
                    $("#id_parametro2").css("display", "block");
                    $("#id_parametro2").val("");
                    $("#id_parametro2").attr('maxlength', 2);
                    $("#buscar_empleado_solicitante").css("display", "none");
                    $("#id_estado").css("display", "none");
                    $("#id_parametro1").attr("placeholder", "Número");
                    $("#id_parametro2").attr("placeholder", "Año");
                }


                if (param == "NUMERO_RESOLUCION_PAGO")
                {
                    $("#div_parametro1").css("display", "block");
                    $("#id_parametro1").css("display", "block");
                    $("#id_parametro1").val("");
                    $("#div_parametro2").css("display", "none");
                    $("#id_parametro2").css("display", "none");
                    $("#id_parametro2").val("");
                    $("#buscar_empleado_solicitante").css("display", "none");
                    $("#id_estado").css("display", "none");
                    $("#id_parametro1").attr('placeholder', $('#id_filtro').val());
                }


                if (param == "FECHA_EXPEDIENTE" || param == "FECHA_RESOLUCION_PAGO")
                {
                    $("#div_parametro1").css("display", "block");
                    $("#id_parametro1").css("display", "block");
                    $("#id_parametro1").val("");
                    $("#div_parametro2").css("display", "block");
                    $("#id_parametro2").css("display", "block");
                    $("#id_parametro2").val("");
                    $("#buscar_empleado_solicitante").css("display", "none");
                    $("#id_estado").css("display", "none");
                    $("#id_parametro1").attr('placeholder', 'Fecha Desde: dd/mm/aaaa');
                    $("#id_parametro2").attr('placeholder', 'Fecha Hasta: dd/mm/aaaa');
                    $("#id_parametro1").val(fecha_hactual);
                }

                if (param== 'ESTADO')
                {
                    $("#div_parametro1").css("display", "block");
                    $("#id_parametro1").css("display", "none");
                    $("#id_parametro1").val("");
                    $("#div_parametro2").css("display", "none");
                    $("#id_parametro2").css("display", "none");
                    $("#id_parametro2").val("");
                    $("#buscar_empleado_solicitante").css("display", "none");
                    $("#id_estado").css("display", "block");
                }

                if (param == 'SOLICITANTE')
                {
                    $("#div_parametro1").css("display", "block");
                    $("#id_parametro1").css("display", "none");
                    $("#id_parametro1").val("");
                    $("#div_parametro2").css("display", "none");
                    $("#id_parametro2").css("display", "none");
                    $("#id_parametro2").val("");
                    $("#buscar_empleado_solicitante").css("display", "block");
                    $("#id_estado").css("display", "none");
                }

                if (param == 'TIPO_RESOLUCION')
                {
                    $("#div_parametro1").css("display", "none");
                    $("#id_parametro1").css("display", "none");
                    $("#id_parametro1").val("");
                    $("#div_parametro2").css("display", "none");
                    $("#id_parametro2").css("display", "none");
                    $("#id_parametro2").val("");
                    $("#buscar_empleado_solicitante").css("display", "none");
                    $("#id_estado").css("display", "none");
                    $("#div_parametro3").css("display", "block");
                }

            }
            catch(err)
            {

                $("#div_parametro2").css("display", "none");
                $("#id_parametro1").attr("placeholder", "Seleccione un filtro");
                $("#id_estado").css("display", "none");
                $("#buscar_empleado_solicitante").css("display", "none");

            }


    });

    $("#id_filtro").change(function(){

        $("#id_parametro1").attr('maxlength', 10);
        $("#id_parametro2").attr('maxlength', 10);

        if($("#id_filtro").val() == "SELECCIONE" || $("#id_filtro").val() == "TODOS"){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "block");
            $("#id_parametro1").attr("placeholder", "Seleccione un filtro");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#buscar_empleado_solicitante").css("display", "none");
            $("#id_estado").css("display", "none");

            $("#div_parametro3").css("display", "none");

        }

        if($("#id_filtro").val() == "NUMERO_EXPEDIENTE"){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "block");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "block");
            $("#id_parametro2").css("display", "block");
            $("#id_parametro2").val("");

            $("#id_parametro2").attr('maxlength', 2);

            $("#buscar_empleado_solicitante").css("display", "none");
            $("#id_estado").css("display", "none");

            $("#id_parametro1").attr("placeholder", "Número");
            $("#id_parametro2").attr("placeholder", "Año");

            $("#div_parametro3").css("display", "none");

        }

        if($("#id_filtro").val() == "NUMERO_RESOLUCION_PAGO"){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "block");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#buscar_empleado_solicitante").css("display", "none");
            $("#id_estado").css("display", "none");

            $("#id_parametro1").attr('placeholder', $('#id_filtro').val());

            $("#div_parametro3").css("display", "none");
        }

        if($("#id_filtro").val() == "FECHA_EXPEDIENTE" ||
                $('#id_filtro').val() == "FECHA_RESOLUCION_PAGO"){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "block");
            $("#id_parametro1").val("");


            $("#div_parametro2").css("display", "block");
            $("#id_parametro2").css("display", "block");
            $("#id_parametro2").val("");

            $("#buscar_empleado_solicitante").css("display", "none");
            $("#id_estado").css("display", "none");

            $("#id_parametro1").attr('placeholder', 'Fecha Desde: dd/mm/aaaa');
            $("#id_parametro2").attr('placeholder', 'Fecha Hasta: dd/mm/aaaa');

            $("#id_parametro1").val(fecha_hactual);

            $("#div_parametro3").css("display", "none");

        }

        if($("#id_filtro").val() == 'ESTADO'){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "none");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#buscar_empleado_solicitante").css("display", "none");
            $("#id_estado").css("display", "block");

            $("#div_parametro3").css("display", "none");

        }

        if($("#id_filtro").val() == 'SOLICITANTE'){

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "none");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#buscar_empleado_solicitante").css("display", "block");
            $("#id_estado").css("display", "none");

            $("#div_parametro3").css("display", "none");

        }

        if($("#id_filtro").val() == 'TIPO_RESOLUCION'){

            $("#div_parametro1").css("display", "none");
            $("#id_parametro1").css("display", "none");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#buscar_empleado_solicitante").css("display", "none");
            $("#id_estado").css("display", "none");

            $("#div_parametro3").css("display", "block");

        }

        /*if($("#id_filtro").val() == 'EXPEDIENTES_RESERVADOS'){

            alert("aca!");

            $("#div_parametro1").css("display", "block");
            $("#id_parametro1").css("display", "none");
            $("#id_parametro1").val("");

            $("#div_parametro2").css("display", "none");
            $("#id_parametro2").css("display", "none");
            $("#id_parametro2").val("");

            $("#buscar_empleado_solicitante").css("display", "block");
            $("#id_estado").css("display", "none");

            $("#div_parametro3").css("display", "none");

        }*/

    });

    $('#buscar_empleado_solicitante').autocomplete({
        serviceUrl: '/empleados/get_empleado_autocomplete',
        //lookup: countriesArray,
        lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        },

        onSelect: function(suggestion) {
            //alert(suggestion.data);
            $('#id_solicitante').val(suggestion.data);
        },

        onInvalidateSelection: function() {
            $('#buscar_empleado_solicitante').html('You selected: none');
        }
    });

    $("#btnNuevoExpediente").click(function(){

        $.ajax({
            url:"/expedientes/get_expedientes_con_reserva_mayor_15_dias/",
            cache: false,
            type: "GET",
            //data: {estado_id: 1},
            success: function(lista) {

                if(lista > 0){

                    if(confirm("ATENCIÓN: existen Expedientes en estado de reserva.\n " +
                            "ACEPTAR: visualiza - CANCELAR: crea uno nuevo.")){

                        var url = "/expedientes/listado/?filtro=EXPEDIENTES_RESERVADOS&reserva=1";

                        window.location = url;

                    } else {
                        window.location='/expedientes/alta/';
                    }

                } else {
                    window.location='/expedientes/alta/';
                }
            }
        });

    });

    $("#id_parametro1").keydown(function(event)
    {
        if (event.keyCode == 13)
        {
            realizar_busqueda();
        }
    });

    $("#buscar_empleado_solicitante").keydown(function(event)
    {
        if (event.keyCode == 13)
        {
            realizar_busqueda();
        }
    });

    $("#btnBuscar").click(function()
    {
        realizar_busqueda()
    });

    function realizar_busqueda()
    {
        if($("#id_filtro").val() == "SELECCIONE"){

            alert("Por favor seleccione una filtro para la búsqueda!");
            return;

        }

        if($("#id_filtro").val() == "NUMERO_EXPEDIENTE"){

            if($("#id_parametro1").val() == "") {
                alert("Por favor instroduzca un parametro para la búsqueda!");
                $("#id_parametro1").focus();
                return;
            }

            if($("#id_parametro2").val() == ""){
                alert("Por favor instroduzca el año para la búsqueda!");
                $("#id_parametro2").focus();
                return;
            }

        }

        if($("#id_filtro").val() == "NUMERO_RESOLUCION_PAGO"){

            if($("#id_parametro1").val() == "") {
                alert("Por favor instroduzca un parametro para la búsqueda!");
                $("#id_parametro1").focus();
                return;
            }

        }

        if($("#id_filtro").val() == "FECHA_EXPEDIENTE" ||
                $("#id_filtro").val() == "FECHA_RESOLUCION_PAGO"){

            if($("#id_parametro1").val() == ""){
                alert("Por favor instroduzca una fecha desde para la búsqueda!");
                $("#id_parametro1").focus();
                return;
            }

            if($("#id_parametro2").val() == ""){
                alert("Por favor instroduzca una fecha hasta para la búsqueda!");
                $("#id_parametro2").focus();
                return;
            }

        }

        if($("#id_filtro").val() == 'ESTADO'){

            if($("#id_estado").val() == 0){
                alert("Por favor seleccione un estado para la búsqueda!");
                $("#id_estado").focus();
                return;
            }

        }

        if($("#id_filtro").val() == 'SOLICITANTE'){

            if($("#buscar_empleado_solicitante").val() == 0){
                alert("Por favor seleccione un empleado solicitante para la búsqueda!");
                $("#buscar_empleado_solicitante").focus();
                return;
            }

        }

        if($("#id_filtro").val() == 'TIPO_RESOLUCION')
        {

            if($("#id_tipo_resolucion").val() == 0)
            {
                alert("Por favor seleccione un tipo de resolución para la búsqueda!");
                return;
            }

        }

        $("#frm").submit();
    }

    </script>


{% endblock %}



