    {% extends 'arbol_item.html' %}
    {% load staticfiles %}
    {% block content %}

        <div class="title_right" style="background-color:#ccc">
            <div class="x_title">
                <a href='/{{ request.session.modulo }}/listado'><strong>Listado</strong></a> --
                <a href='/{{ request.session.modulo }}/modi/{{ request.session.id }}'><strong>Datos Personales</strong></a> --
                <a href='/domicilios/alta/{{ request.session.id }}'><strong>Domicilio</strong></a> --
                <a href='/contactos/alta/{{ request.session.id }}'><strong>Contacto</strong></a> --
                <a href='/obrassociales/alta/{{ request.session.id }}'><strong>Obra Social</strong></a> --
                <strong>Familia</strong> --
                <a href='/notas/alta/{{ request.session.id }}'><strong>Notas</strong></a>
                {% if request.session.modulo != 'empleados'  %}
                    -- <a href='/fichassociales/alta/{{ request.session.id }}'><strong>Ficha Social</strong></a>
                {% endif %}
            </div>
        </div>

        <!-- mensaje -->
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Info:</span>
                    {{ message }}
                </div>
            {% endfor %}
            </ul>
        {% endif %}
        <!-- mensaje -->
        <div class="clearfix"></div>
        <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_title">
                    <!--<h2>Contactos del {{ request.session.modulo|title }}</h2>-->
                    <h2>Estructura Familiar</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="x_content">
                        <table id="example" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th>Nombre </th>
                                    <th>Parentesco </th>
                                    <th>Edad </th>
                                    <th>Sexo </th>
                                    <th>Responsable </th>
                                    <th>Domicilio </th>
                                    <th>Contacto </th>
                                    <th class=" no-link last">
                                        <span class="nobr">Eliminar</span>
                                    </th>
                                    <th class=" no-link last">
                                        <span class="nobr">Editar</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>


                            {% for familiar in familiares_list %}
                                    <tr class="odd pointer">
                                        <td class=" ">{{ familiar.familiar.persona.nombre }}, {{ familiar.familiar.persona.apellido }}</td>
                                        <td class=" ">{{ familiar.parentesco }}</td>
                                        <td class=" ">{{ familiar.familiar.persona.get_edad }}</td>
                                        {% ifequal familiar.familiar.persona.sexo.descripcion 'Masculino'  %}
                                            <td class=" "><i class="fa fa-male"></i> {{ familiar.familiar.persona.sexo }}</td>
                                        {% else %}
                                            <td class=" "><i class="fa fa-female"></i> {{ familiar.familiar.persona.sexo }}</td>
                                        {% endifequal %}
                                        {% if familiar.responsable %}
                                            <td class=" "><i class="fa fa-thumbs-o-up"></i> Si</td>
                                        {% else %}
                                            <td class=" "><i class="fa fa-comment-o"></i> No</td>
                                        {% endif %}


                                        <td class=" "><a href='/domicilios/alta/{{ familiar.familiar.persona.id }}'>Domicilio</a></td>
                                        <td class=" "><a href='/contactos/alta/{{ familiar.familiar.persona.id }}'>Contacto</a></td>

                                        <td>
                                        <!--a href="/familiares/eliminar/{{ familiar.familiar.persona.id }}"-->
                                        <a href="/familiares/eliminar/{{ familiar.id }}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                        </td>
                                        <td>
                                            <a href="/familiares/modi/{{familiar.id}}/{{ request.session.id }}/">
                                            <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                            {% empty %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    No se encontraron registros
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
            <div class="x_panel">

            <div class="x_title">
                {%  if mensaje %}
                    <div class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Información:</span>
                       {{ mensaje }}
                    </div>
                    <h2>Familiar del Paciente  : {{ persona.nombre }} {{ persona.apellido }}</h2>
                    <div class="clearfix"></div>
                {% endif %}
            </div>
            <div class="x_content">
                <br/>
                <form id="demo-form2" method="post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
                    <!-- Dos Controles -->
                    <div class="form-group">
                        
                        {% if object.pk %}
                               <div class="btn-group-horizontal">
                                   <a type="button" href="/familiares/modi/{{ object.pk }}/{{ request.session.id }}/" class="btn btn-primary">Datos Personales</a>
                                   <a type="button" href="/domicilios/alta/{{ request.session.id_familiar }}" class="btn btn-primary">Domicilio</a>
                                   <a type="button" href="/contactos/alta/{{ request.session.id_familiar }}" class="btn btn-primary">Contacto</a>
                                </div>
                            {% endif %}
                            
                        <!-- Control -->
                        <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Parentesco <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            {{ familiar_paciente_form.parentesco }}
                            {% if familiar_paciente_form.parentesco.errors %}
                                <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_paciente_form.parentesco.label }}</span>
                                    {{ familiar_paciente_form.parentesco.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <!-- Control -->
                        <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Nivel de educación <span class="required"></span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ persona_form.nivel_educacion }}
                                {% if persona_form.nivel_educacion.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ persona_form.nivel_educacion.label }}</span>
                                        {{ persona_form.nivel_educacion.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                     <!-- Control -->
                     <!-- Dos Controles -->

                     <!-- Dos Controles -->
                        <div class="form-group">
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Apellido <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ persona_form.apellido }}
                                {% if persona_form.apellido.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ persona_form.apellido.label }}</span>
                                        {{ persona_form.apellido.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Ocupación <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                    {{ familiar_form.ocupacion }}
                                    {% if familiar_form.ocupacion.errors %}
                                        <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_form.ocupacion.label }}</span>
                                            {{ familiar_form.ocupacion.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                         <!-- Control -->
                     <!-- Dos Controles -->

                      <!-- Dos Controles -->
                        <div class="form-group">
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Nombre <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ persona_form.nombre }}
                                {% if persona_form.nombre.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ persona_form.nombre.label }}</span>
                                        {{ persona_form.nombre.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Situación Laboral <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                    {{ familiar_form.situacion_laboral }}
                                    {% if familiar_form.situacion_laboral.errors %}
                                        <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_form.situacion_laboral.label }}</span>
                                            {{ familiar_form.situacion_laboral.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                         <!-- Control -->
                     <!-- Dos Controles -->

                     <!-- Dos Controles -->
                        <div class="form-group">
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Estado Civil <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ persona_form.estado_civil }}
                                {% if persona_form.estado_civil.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ persona_form.estado_civil.label }}</span>
                                        {{ persona_form.estado_civil.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Tipo de relación <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                    {{ familiar_paciente_form.tipo_relacion }}
                                    {% if familiar_paciente_form.tipo_relacion.errors %}
                                        <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_paciente_form.tipo_relacion.label }}</span>
                                            {{ familiar_paciente_form.tipo_relacion.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                         <!-- Control -->
                     <!-- Dos Controles -->

                      <!-- Dos Controles -->
                        <div class="form-group">
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Tipo Documento <span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ persona_form.tipo_documento }}
                                {% if persona_form.tipo_documento.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ persona_form.tipo_documento.label }}</span>
                                        {{ persona_form.tipo_documento.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Otra ayuda económica <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                    {{ familiar_form.otra_ayuda_economica }}
                                    {% if familiar_form.otra_ayuda_economica.errors %}
                                        <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_form.otra_ayuda_economica.label }}</span>
                                            {{ familiar_form.otra_ayuda_economica.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                         <!-- Control -->
                     <!-- Dos Controles -->

                    <!-- Dos Controles -->
                        <div class="form-group">
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">N° Documento <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ persona_form.numero_documento }}
                                {% if persona_form.numero_documento.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ persona_form.numero_documento.label }}</span>
                                        {{ persona_form.numero_documento.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">¿Convive en la misma vivienda? <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                    {{ familiar_paciente_form.convive_misma_vivienda }}
                                    {% if familiar_paciente_form.convive_misma_vivienda.errors %}
                                        <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_paciente_form.convive_misma_vivienda.label }}</span>
                                            {{ familiar_paciente_form.convive_misma_vivienda.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                         <!-- Control -->
                     <!-- Dos Controles -->

                    <!-- Dos Controles -->
                        <div class="form-group">
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Fecha Nacimiento <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ persona_form.fecha_nacimiento }}
                                {% if persona_form.fecha_nacimiento.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ persona_form.fecha_nacimiento.label }}</span>
                                        {{ persona_form.fecha_nacimiento.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Económicamente Activo <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                    {{ familiar_form.economicamente_activo }}
                                    {% if familiar_form.economicamente_activo.errors %}
                                        <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_form.economicamente_activo.label }}</span>
                                            {{ familiar_form.economicamente_activo.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                         <!-- Control -->
                     <!-- Dos Controles -->

                     <!-- Dos Controles -->
                        <div class="form-group">
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Sexo <span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ persona_form.sexo }}
                                {% if persona_form.sexo.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ persona_form.sexo.label }}</span>
                                        {{ persona_form.sexo.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Control -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Responsable <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                    {{ familiar_paciente_form.responsable }}
                                    {% if familiar_paciente_form.responsable.errors %}
                                        <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_paciente_form.responsable.label }}</span>
                                            {{ familiar_paciente_form.responsable.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                         <!-- Control -->
                     <!-- Dos Controles -->

                     <!-- Control -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-6" for="first-name">Vive <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ familiar_form.vive }}
                                {% if familiar_form.vive.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_form.vive.label }}</span>
                                        {{ familiar_form.vive.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                     <!-- Control -->

                        <!-- Control -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Motivo del fallecimiento <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                {{ familiar_form.motivo_fallecimiento }}
                                {% if familiar_form.motivo_fallecimiento.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ familiar_form.motivo_fallecimiento.label }}</span>
                                        {{ familiar_form.motivo_fallecimiento.errors }}
                                    </div>
                                {% endif %}
                            </div>
                     <!-- Control -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Lugar de Nacimiento <span class="required"></span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <p><label for="id_pais">País <strong>*</strong></label> {{ lugar_nacimiento_form.pais }}
                                 {% if lugar_nacimiento_form.pais.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ lugar_nacimiento_form.pais.label }}</span>
                                        {{ lugar_nacimiento_form.pais.errors }}
                                    </div>
                                {% endif %}
                                </p>
                                <p><label for="id_provincia">Provincia</label>{{ lugar_nacimiento_form.provincia }}

                                    {% if lugar_nacimiento_form.provincia.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ lugar_nacimiento_form.provincia.label }}</span>
                                        {{ lugar_nacimiento_form.provincia.errors }}
                                    </div>
                                {% endif %}
                                </p>
                                <p><label for="id_departamento">Departamento</label>{{ lugar_nacimiento_form.departamento }}</p>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a href="/{{ request.session.modulo }}/modi/{{ request.session.id }}" type="button" class="btn btn-primary">Cancelar</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>

                </form>
                </div>
            </div>
        </div>

        </div>
        <!-- input mask -->
        <script src="{% static 'js/input_mask/jquery.inputmask.js' %}"></script>
        <!-- form validation -->
        <script src="{% static 'js/validator/validator.js' %}"></script>
        <script>
            validator.message['date'] = 'not a real date';
            $('form')
                .on('blur', 'input[required], input.optional, select.required', validator.checkField)
                .on('change', 'select.required', validator.checkField)
                .on('keypress', 'input[required][pattern]', validator.keypress);
            $('.multi.required')
                .on('keyup blur', 'input', function () {
                    validator.checkField.apply($(this).siblings().last()[0]);
                });
            $('form').submit(function (e) {
                e.preventDefault();
                var submit = true;
                if (!validator.checkAll($(this))) {
                    submit = false;
                }
                if (submit)
                    this.submit();
                return false;
            });
            $('#vfields').change(function () {
                $('form').toggleClass('mode2');
            }).prop('checked', false);
            $('#alerts').change(function () {
                validator.defaults.alerts = (this.checked) ? false : true;
                if (this.checked)
                    $('form .alert').remove();
            }).prop('checked', false);
            $('#id_vive').change(function() {
                if ($('#id_vive').is(':checked')) {
                    $('#id_motivo_fallecimiento').prop("disabled", true);
                }else{
                    $('#id_motivo_fallecimiento').prop("disabled", false);
                };
            });
            if ($('#id_vive').is(':checked')) {
                $('#id_motivo_fallecimiento').prop("disabled", true);
            }else{
                $('#id_motivo_fallecimiento').prop("disabled", false);
            };
    </script>
{% endblock %}
