    {% extends 'arbol_item.html' %}
    {% load staticfiles %}
    {% block content %}

         <div class="title_right" style="background-color:#ccc">
            <div class="x_title">
                <a href='/{{ request.session.modulo }}/listado'><strong>Listado</strong></a> --
                <a href='/{{ request.session.modulo }}/modi/{{ request.session.id }}'><strong>Datos Personales</strong></a> --
                <a href='/domicilios/alta/{{ request.session.id }}'><strong>Domicilio</strong></a> --
                <a href='/contactos/alta/{{ request.session.id }}'><strong>Contacto</strong></a> --
                <a href='/obrassociales/alta/{{ request.session.id }}'><strong>Obra Social</strong></a> --
                <a href='/familiares/busqueda/{{ request.session.id }}'><strong>Familia</strong></a> --
                <strong>Notas</strong>
                {% if request.session.modulo != 'empleados'  %}
                    -- <a href='/fichassociales/alta/{{ request.session.id }}'><strong>Ficha Social</strong></a>
                {% endif %}
            </div>

        </div>
        <!-- mensaje -->
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Info:</span>
                    {{ message }}
                </div>
            {% endfor %}
            </ul>
        {% endif %}
        <!-- mensaje -->
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
            <div class="x_title">
                <h2>Notas -
                    {% for persona in persona_list %}
                        {{ persona.apellido }}, {{ persona.nombre}}
                    {% endfor %}
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <form id="demo-form2" method="post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}

                    <!-- Controles -->
                    <div class="form-group">
                        <label class="control-label" for="first-name">Tipo de Nota <span class="required"></span></label>
                        {{ form.tipo_nota }}
                        {% if form.tipo_nota.errors %}
                            <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ form.tipo_nota.label }}</span>
                                {{ form.tipo_nota.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <!-- Controles -->

                     <!-- Controles -->
                    <div class="form-group">
                        <label class="control-label" for="first-name">Descripción <span class="required"></span></label>
                            {{ form.descripcion }}
                            {% if form.descripcion.errors %}
                                <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ form.descripcion.label }}</span>
                                    {{ form.descripcion.errors }}
                                </div>
                            {% endif %}
                    </div>
                    <!-- Controles -->
                    <br><br>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="/{{ request.session.modulo }}/modi/{{ request.session.id }}" type="button" class="btn btn-primary">Cancelar</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>

                </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Notas del {{ request.session.modulo|title }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="x_content">
                        <table id="example" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th>Fecha </th>
                                    <th>Hora </th>
                                    <th>Tipo de Nota </th>
                                    <th>Descripción </th>
                                    <th>Usuario </th>
                                    <th class=" no-link last">
                                        <span class="nobr">Eliminar</span>
                                    </th>
                                    <th class=" no-link last">
                                        <span class="nobr">Editar</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for nota in notas_list %}
                                    <tr class="odd pointer">
                                        <td class=" ">{{ nota.fecha }}</td>
                                        <td class=" ">{{ nota.hora }}</td>
                                        <td class=" ">{{ nota.tipo_nota.descripcion }}</td>
                                        <td class=" ">{{ nota.descripcion }}</td>
                                        <td class=" ">{{ nota.usuario.username }}</td>
                                        <td>
                                        <a href="/notas/delete/{{nota.id}}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                        </td>
                                        <td>
                                            <a href="/notas/modi/{{nota.id}}">
                                            <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                            {% empty %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    No se encontraron registros
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                </div>
            </div>
        </div>
        <!-- input mask -->
        <script src="{% static 'js/input_mask/jquery.inputmask.js' %}"></script>

{% endblock %}