{% extends 'arbol_item.html' %}

{% block content %}

    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/expedientes/listado'><strong>LISTADO</strong></a> --

            <a href='/expedientes/modi/{{ expediente.id }}/'>
                <strong>EXPEDIENTE</strong>
            </a> --

            <strong>DISPOSICION</strong>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>DISPOSICION</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    {% for msg in messages %}

                        <strong>{{msg}}</strong>
                        <br><br>

                    {% endfor %}

                    <form id="frm" class="form-horizontal form-label-left" action="" method="post">

                        {% csrf_token %}

                        <input id="id_expediente" name="expediente" type="hidden" value="{{ expediente.id }}" />

                        <label class="control-label">Etapa <span class="required">*</span>
                        </label>{{ form.etapa }}
                        <strong>{{ form.etapa.errors }}</strong>

                        <div id="campos">
                            <label class="control-label">Contratacion Directa <span class="required">*</span>
                            </label>{{ form.contratacion_directa }}
                            <strong>{{ form.contratacion_directa.errors }}</strong>

                            <label class="control-label">Proveedor <span class="required">*</span>
                            </label>{{ form.proveedor }}
                            <strong>{{ form.proveedor.errors }}</strong>

                            <label class="control-label">Importe <span class="required">*</span>
                            </label>{{ form.importe }}
                            <strong>{{ form.importe.errors }}</strong>

                            <label class="control-label">N° Disposición <span class="required">*</span>
                            </label>{{ form.numero_disposicion }}
                            <strong>{{ form.numero_disposicion.errors }}</strong>

                            <label class="control-label">Fecha de Disposición <span class="required">*</span>
                            </label>{{ form.fecha_disposicion }}
                            <strong>{{ form.fecha_disposicion.errors }}</strong>

                            <label class="control-label">Fuente de Financiamiento <span class="required">*</span>
                            </label> {{ form.fuente_financiamiento }}
                            <strong>{{ form.fuente_financiamiento.errors }}</strong>

                            <label class="control-label">Observación </span>
                            </label>{{ form.observaciones }}
                            <strong>{{ form.observaciones.errors }}</strong>
                            <br>
                            <button id="btnGuardar" class="btn btn-primary">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


<script>

    $('.errorlist').css('color', '#a94442');
    $('.errorlist').css('list-style-type', 'none');

    $(document).ready(function(){

        $("#campos").children().prop('disabled', true);

        //alert('{{expediente.etapa.id}}');
        //$("#id_etapa option[value="+ {{expediente.etapa.id}} +"]").prop('selected', true);
        $("#id_etapa").val({{expediente.etapa.id}});



        var etapa = $("#id_etapa option[value="+ $('#id_etapa').val() +"]").text();
        if(etapa.toUpperCase() == "COMPROMISO Y ORDENADO"){
            $("#campos").children().prop('disabled', false);
        }

        {% if not form.errors %}
            $("#id_etapa").val({{expediente.etapa.id}});

            if(etapa.toUpperCase() == "COMPROMISO Y ORDENADO"){
                $("#campos").children().prop('disabled', true);
            }
        {% endif %}

        if('{{ expediente.estado.valor }}' == "CERRADO"){
            $("#frm").children().prop('disabled', true);
        }


    });

    $("#id_etapa").change(function(){

        var etapa = $("#id_etapa option[value="+ $('#id_etapa').val() +"]").text();
        if(etapa.toUpperCase() == "COMPROMISO Y ORDENADO"){
            $("#campos").children().prop('disabled', false);
        }

        if(etapa.toUpperCase() == "PREVENTIVO"){
            $("#campos").children().prop('disabled', true);
        }
    });

    $("#btnGuardar").click(function(){
        var etapa = $("#id_etapa option[value="+ $('#id_etapa').val() +"]").text();
        if(etapa.toUpperCase() == "COMPROMISO Y ORDENADO"){
            if(confirm("ATENCION: Está seguro de guardar la Disposición con la etapa" +
                    " 'Compromiso y Ordenado'?, una vez confirmado no podrá realizar cambios!")){

                $('#frm').submit();
            }
            return;
        }
    });

    $("#id_importe").blur(function()
    {
        var importe = parseFloat($("#id_importe").val());

        $.ajax({
            type: "post",
            url:"/expedientes/disposicion/get_tipo_transaccion_disposicion/",
            data: {
                'importe': importe,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data){
                if(data['msg'] !=''){
                    alert(data['msg']);
                    $("#id_importe").focus();
                    $("#id_importe").select();
                    return;
                }
            },
            error: function(err){
                console.log(err);
            }
        });
    });
</script>


{% endblock %}