{% extends 'arbol_item.html' %}

{% block content %}

<div style="background-color:#ccc">
    <a href='/expedientes/listado'><strong>LISTADO</strong></a> --

    <a href='/expedientes/modi/{{expediente.id}}'>
        <strong>EXPEDIENTE</strong>
    </a> --

    <strong>RESOLUCION</strong>

    <br><br>
</div>

<br>

{% for msg in messages %}

    <strong>{{msg}}</strong>
    <br><br>

{% endfor %}



<form action="" method="post">

    {% csrf_token %}

    <div style="width:700px">

        Etapa: {{ form.etapa }}<br>

        <div class="x_panel">
            <div class="x_title">
                <h2>COMPROMISO</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            <div id="divCompromiso">

                <input type="hidden" id="id_expediente" name="expediente" value="{{expediente.id}}">


                {% if form.resolucion_adjudicacion.errors %}
                    {{form.resolucion_adjudicacion.errors}}
                {% endif %}

                Resolucion adjudicacion: {{ form.resolucion_adjudicacion }} <br>

                {% if form.fecha_resolucion_adjudicacion.errors %}
                    {{form.fecha_resolucion_adjudicacion.errors}}
                {% endif %}
                Fecha Resolucion adjudicacion: {{ form.fecha_resolucion_adjudicacion }} <br>

                {% if form.proveedor.errors %}
                    {{form.proveedor.errors}}
                {% endif %}
                Proveedor: {{ form.proveedor }} <br>

                {% if form.importe.errors %}
                    {{form.importe.errors}}
                {% endif %}
                Importe: {{ form.importe }}
                {{ form.tipo_transaccion }}
                {{ form.numero_identificacion_transaccion }} <br>

                {% if form.orden_provision.errors %}
                    {{form.orden_provision.errors}}
                {% endif %}

                {% if error_provision %}
                    <ul class='errorlist'>
                        <li><strong>{{error_provision}}</strong></li>
                    </ul>
                {% endif %}
                Orden provision: {{ form.orden_provision }} <br>

                {% if form.acta_recepcion.errors %}
                    {{form.acta_recepcion.errors}}
                {% endif %}
                {% if error_acta %}
                    <ul class='errorlist'>
                        <li><strong>{{error_acta}}</strong></li>
                    </ul>
                {% endif %}
                Acta recepcion: {{ form.acta_recepcion }} <br>

                {% if form.fuente_financiamiento.errors %}
                    {{form.fuente_financiamiento.errors}}
                {% endif %}
                Fuente finaciamiento: {{ form.fuente_financiamiento }} <br>

            </div>
            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>ORDENADO</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            <div id="divOrdenado">
                {% if form.numero_resolucion_pago.errors %}
                    {{form.numero_resolucion_pago.errors}}
                {% endif %}

                {% if error_resolucion_pago %}
                    <ul class='errorlist'>
                        <li><strong>{{error_resolucion_pago}}</strong></li>
                    </ul>
                {% endif %}

                N° resolucion pago: {{ form.numero_resolucion_pago }} <br>

                {% if form.fecha_resolucion_pago.errors %}
                    {{form.fecha_resolucion_pago.errors}}
                {% endif %}
                Fecha Resolucion pago: {{ form.fecha_resolucion_pago }} <br>

                Observaciones: {{ form.observaciones }} <br><br>

            </div>
            </div>
        </div>


        <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-primary">
    </div>
</form>

<script>

    $(document).ready(function()
    {
        {% if not form.errors and not error_provision and not error_acta and not error_resolucion_pago%}
            $("#id_etapa").val({{expediente.etapa_id}});
        {% endif %}

        inicializar_controles();
        setear_campos_autoincrementales();
    });

    function setear_campos_autoincrementales()
    {
        {% if not_update_numeros_compromiso %}
            $("#id_orden_provision").prop("disabled", true);
            $("#id_acta_recepcion").prop("disabled", true);
        {% endif %}

        {% if not_update_numeros_ordenado %}
            $("#id_numero_resolucion_pago").prop("disabled", true);
        {% endif %}
    }

    $("#id_etapa").change(function() {

        var etapa_id = $("#id_etapa").val();

        $.ajax({
            url:"/expedientes/get_etapa/",
            cache: false,
            type: "GET",
            data: {etapa_id: etapa_id},
            success: function(request) {
                console.log(request);

                if ("{{expediente.etapa.valor}}" == "PREVENTIVO")
                {
                    if (request.valor == "ORDENADO")
                    {
                        alert("No se puede saltear etapas");
                        $("#id_etapa").val({{expediente.etapa_id}})
                        inicializar_controles();
                        return;
                    }
                }

                inicializar_controles();
            }
        });

    });

    $("#btnGuardar").click(function() {
        $("#divCompromiso").children().prop("disabled", false);
        $("#divOrdenado").children().prop("disabled", false);
    });

    function inicializar_controles()
    {
        if ("{{expediente.estado.valor}}" == "CERRADO")
        {
            $("#id_etapa").prop("disabled", true);
            $("#btnGuardar").prop("disabled", true);
            $("#divCompromiso").children().prop("disabled", true);
            $("#divOrdenado").children().prop("disabled", true);
            return;
        }

        var etapa_id = $("#id_etapa").val();

        if (etapa_id == 0)
        {
            $("#btnGuardar").prop("disabled", true);
            $("#divCompromiso").children().prop("disabled", true);
            $("#divOrdenado").children().prop("disabled", true);
            return;
        }

        $.ajax({
            url:"/expedientes/get_etapa/",
            cache: false,
            type: "GET",
            data: {etapa_id: etapa_id},
            success: function(etapa) {
                console.log(etapa);

                if (etapa.valor == "PREVENTIVO")
                {
                    $("#btnGuardar").prop("disabled", true);
                    $("#divCompromiso").children().prop("disabled", true);
                    $("#divOrdenado").children().prop("disabled", true);
                }
                else
                {
                    $("#divCompromiso").children().prop("disabled", true);
                    $("#divOrdenado").children().prop("disabled", true);

                    if (etapa.valor == "COMPROMISO")
                    {
                        $("#divCompromiso").children().prop("disabled", false);
                    }
                    else if (etapa.valor == "ORDENADO")
                    {
                        $("#divOrdenado").children().prop("disabled", false);

                        if ($("#id_numero_resolucion_pago").val() == 0)
                        {
                            get_valores_iniciales_por_etapa();
                        }
                    }

                    $("#btnGuardar").prop("disabled", false);
                }

                setear_campos_autoincrementales();
            }

        });

    }

    function get_valores_iniciales_por_etapa()
    {
        $.ajax({
            url:"/expedientes/get_valores_iniciales/",
            cache: false,
            type: "GET",
            data: {tipo_expediente:"RESOLUCION", etapa: "ORDENADO"},
            success: function(request) {
                console.log(request);

                $("#id_numero_resolucion_pago").val(
                    request.numero_resolucion_pago);

                $("#id_fecha_resolucion_pago").val(
                    request.fecha_resolucion_pago);
            }
        });
    }

    $("#id_importe").blur(function()
    {
        var importe = parseFloat($("#id_importe").val());

        if (isNaN(importe))
        {
            $("#id_importe").val("")
            $("#id_tipo_transaccion").val("");
            $("#id_numero_identificacion_transaccion").val("");
            return;
        }

        $.ajax({
            url:"/expedientes/get_tipo_transaccion/",
            cache: false,
            type: "GET",
            data: {importe: importe},
            success: function(request) {
                console.log(request);

                if (request.result == 'error')
                {
                    alert(request.msg);
                    $("#id_importe").focus()
                    $("#id_tipo_transaccion").val("");
                    $("#id_numero_identificacion_transaccion").val("");
                    return
                }

                $("#id_tipo_transaccion").val(request.tipo_transaccion);
                $("#id_numero_identificacion_transaccion").val(
                    request.numero_identificacion_transaccion);
            }
        });
    });
</script>

{% endblock %}