{% extends 'arbol_item.html' %}
{% block content %}

<form method="post"> {% csrf_token %}

      <div class="col-md-8 col-sm-8 col-xs-12 animated fadeInDown">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <h4 class="brief"><i> Confirma la eliminación del siguiente registro : {{ object }}</i></h4>
                    <div class="left col-xs-7">
                        <ul class="list-unstyled">

                            {% if object.persona.nombre %}
                                <li> Nombre : {{ object.persona.nombre }} </li>
                            {% endif %}

                            {% if object.persona.apellido %}
                                <li> Apellido : {{ object.persona.apellido }} </li>
                            {% endif %}

                            {% if object.numero_afiliado %}
                                <li> Numero de Afiliado : {{ object.numero_afiliado }} </li>
                            {% endif %}

                            {% if object.fecha_emision %}
                                <li> Fecha de Emision : {{ object.fecha_emision }} </li>
                            {% endif %}

                            {% if object.fecha_vencimiento %}
                                <li> Fecha de Vencimiento : {{ object.fecha_vencimiento }} </li>
                            {% endif %}

                            {% if object.tipo_beneficiario == 'A' %}
                                <li> Tipo Beneficiario : Adherente </li>
                            {% else %}
                                <li> Tipo Beneficiario : Titular </li>
                            {% endif%}

                            {% if object.parentesco %}
                                <li>Parentesco : {{ object.parentesco }}</li>
                            {% endif %}

                            {% if object.habitual %}
                                <li>Habitual : {{ object.habitual }}</li>
                            {% endif %}

                            {% if object.suspendida %}
                                <li>Suspendida : {{ object.suspendida }} </li>
                            {% endif %}

                            {% if object.motivo_suspenscion %}
                                <li>Motivo de Suspension : {{ object.motivo_suspension}}</li>
                            {% endif %}

                            {% if object.observacion %}
                                <li> Observacion : {{ object.observacion }} </li>
                            {% endif %}

                        </ul>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                         <!--a class="btn btn-success btn-xl" href="/{{ request.session.modulo }}/modi/{{ request.session.id }}" type="button" ><i class="fa fa-arrow-left"></i> {{ request.session.modulo }}</a-->
                         <a class="btn btn-success btn-xl" href="/obrassociales/alta/{{ request.session.id}}" type="button"> <i class="fa fa-arrow-left"></i>Cancelar</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                        <button class="btn btn-danger btn-xl" type="submit" ><i class="fa fa-trash">
                            </i>    Eliminar </button>

                    </div>
                </div>
            </div>
        </div>

</form>
{% endblock %}
