{% extends 'arbol_item.html' %}
{% block content %}
<!-- venta de alerta para el usuario que destildo habitual -->

    <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <i class="fa fa-exclamation fa-5x"></i>
                <strong>Esta por Guardar un registro sin tildar habitual</strong>
            </div>
        </div>
    </div>

    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/{{ request.session.modulo }}/listado'><strong>Listado</strong></a> --
            <a href='/{{ request.session.modulo }}/modi/{{ request.session.id }}'><strong>Datos Personales</strong></a> --
            <a href='/domicilios/alta/{{ request.session.id }}'><strong>Domicilio</strong></a> --
            <a href='/contactos/alta/{{ request.session.id }}'><strong>Contacto</strong></a> --
            <strong>Obra Social</strong> --
            <a href='/familiares/busqueda/{{ request.session.id }}'><strong>Familia</strong></a> --
            <a href='/notas/alta/{{ request.session.id }}'><strong>Notas</strong></a>
            {% if request.session.modulo != 'empleados'  %}
                -- <a href='/fichassociales/alta/{{ request.session.id }}'><strong>Ficha Social</strong></a>
            {% endif %}
        </div>
    </div>

    {% if messages %}
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="alert alert-{{ message.tags }}" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Mensaje:</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Obra Social -
                        {% for persona in persona_list %}
                             {{ persona }}
                        {% endfor %}
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="frm" method="post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
                    <div class="form-group">
                        <label for="id_obra_social">Obra Social(*):</label>
                        {% if form.errors.obra_social %}
                            <strong>
                                {{ form.errors.obra_social }}
                            </strong>
                        {% endif %}
                              {{ form.obra_social }}
                    </div>
                    <div class="form-group">
                        <label for="id_numero_afiliado">Número Afiliado(*):</label>
                        {% if form.errors.numero_afiliado %}
                            <strong>
                                {{ form.errors.numero_afiliado }}
                            </strong>
                        {% endif %}
                              {{ form.numero_afiliado }}
                    </div>
                    <div class="form-group">
                        <label for="id_fecha_emision">Fecha Emisión:</label>
                        {% if form.errors.fecha_emision %}
                            <strong>
                                {{ form.errors.fecha_emision }}
                            </strong>
                        {% endif %}
                              {{ form.fecha_emision }}
                    </div>
                    <div class="form-group">
                        <label for="id_fecha_vencimiento">Fecha Vencimiento:</label>
                        {% if form.errors.fecha_vencimiento %}
                            <strong>
                                {{ form.errors.fecha_vencimiento }}
                            </strong>
                        {% endif %}
                              {{ form.fecha_vencimiento }}
                    </div>
                    <div class="form-group">
                        <label for="id_tipo_beneficiario">Tipo Benficiario(*):</label>
                        {% if form.errors.tipo_beneficiario %}
                            <strong>
                                {{ form.errors.tipo_beneficiario }}
                            </strong>
                        {% endif %}
                              {{ form.tipo_beneficiario }}
                    </div>
                    <div class="form-group">
                        <label for="id_parentesco">Parentesco:</label>
                        {% if form.errors.parentesco %}
                            <strong>
                                {{ form.errors.parentesco }}
                            </strong>
                        {% endif %}
                              {{ form.parentesco }}
                    </div>
                    <div class="form-group">
                        <label for="id_categoria">Categoría(*):</label>
                        {% if form.errors.categoria %}
                            <strong>
                                {{ form.errors.categoria }}
                            </strong>
                        {% endif %}
                              {{ form.categoria }}
                    </div>
                    <div class="form-group">
                        <label for="id_habitual">Habitual:
                        {% if form.errors.habitual %}
                            <strong>
                                {{ form.errors.habitual }}
                            </strong>
                        {% endif %}
                              {{ form.habitual }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="id_suspendida">Suspendida:
                            {% if form.errors.suspendida %}
                                <strong>
                                    {{ form.errors.suspendida }}
                                </strong>
                            {% endif %}
                                  {{ form.suspendida }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="id_tipo">Motivo de Suspensión:</label>
                        {% if form.errors.motivo_suspension %}
                            <strong>
                                {{ form.errors.motivo_suspension }}
                            </strong>
                        {% endif %}
                              {{ form.motivo_suspension }}
                    </div>
                    <div class="form-group">
                        <label for="id_tipo">Oservaciones:</label>
                        {% if form.errors.observacion %}
                            <strong>
                                {{ form.errors.observacion }}
                            </strong>
                        {% endif %}
                              {{ form.observacion }}
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a href="/{{ request.session.modulo }}/modi/{{ request.session.id }}" type="button" class="btn btn-primary">Cancelar</a>
                            <!--<button type="submit" class="btn btn-success">Guardar</button-->
                            <input type="button" class="btn btn-success" id="btnGuardar" value="Guardar"/>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista de Obras Sociales</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                        <tr class="headings">
                            <th>Nombre </th>
                            <th>Número Afiliado</th>
                            <th>Fecha Emisión </th>
                            <th>Fecha Vencimiento</th>
                            <th>Tipo Beneficiario</th>
                            <th>Parentesco</th>
                            <th>Habitual </th>
                            <th>Suspendida </th>
                            <th>Motivo Suspensión </th>
                            <th class=" no-link last">
                                <span class="nobr">Editar</span>
                            </th>
                            <th class=" no-link last">
                                <span class="nobr">Eliminar</span>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for obra_social in obrasocial_list %}
                            <tr class="odd pointer">
                            <td class=" ">{{ obra_social.obra_social }}</td>
                            <td class=" ">{{ obra_social.numero_afiliado }}</td>
                            <td class=" ">{{ obra_social.fecha_emision }}</td>
                            <td class=" ">{{ obra_social.fecha_vencimiento }}</td>
                            {% if obra_social.tipo_beneficiario == "T" %}
                                <td class=" ">Titular</td>
                            {% else %}
                                <td class=" ">Adherente</td>
                            {% endif %}

                            {% if obra_social.parentesco == None %}
                                <td class=" ">Ninguno</td>
                            {% else %}
                                <td class=" ">{{ obra_social.parentesco }}</td>
                            {% endif %}

                            {% if obra_social.habitual == True %}
                                <td class=" ">Si</td>
                            {% else %}
                                <td class=" ">No</td>
                            {% endif %}

                            {%if obra_social.suspendida == True %}
                                <td class=" ">Si</td>
                            {%else%}
                                <td class=" ">No</td>
                            {%endif%}

                            {% if obra_social.motivo_suspension == None %}
                                <td class=" ">Ninguno</td>
                            {% else %}
                                <td class=" ">{{ obra_social.motivo_suspension }}</td>
                            {% endif %}
                            <td class=" last">
                                <a href="/obrassociales/modi/{{ obra_social.id }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td class=" last">
                                <a href="/obrassociales/eliminar/{{ obra_social.id }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                            </tr>

                        {% empty %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                No se encontraron registros
                            </div>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<script type="text/javascript">

$(document).ready(function() {
   if ($('#id_tipo_beneficiario :selected').text() == 'Titular'){
       $('#id_parentesco').attr('disabled','disabled');
   } else {
        $('#id_parentesco').attr('disabled', false);
   }

   if($('#id_suspendida').is(':checked')){
       $('#id_motivo_suspension').attr('disabled', false);
   } else {
       $('#id_motivo_suspension').attr('disabled', 'disabled');
   }
});

$('#id_motivo_suspension').attr('disabled', 'disabled');

/*$('#id_suspendida').click(function() {
   if($('#id_suspendida').is(':checked')){
       $('#id_motivo_suspension').attr('disabled', false);
    } else {
       $('#id_motivo_suspension').attr('disabled', 'disabled');
    }
});*/

document.getElementById('id_suspendida').onclick=function() {
    if($('#id_suspendida').is(':checked')){
       $('#id_motivo_suspension').attr('disabled', false);
    } else {
       $('#id_motivo_suspension').attr('disabled', 'disabled');
    }
}

var valor_combo_tipo_beneficiario = $('#id_tipo_beneficiario').val()

$('#id_tipo_beneficiario').change(function (){
    if ($('#id_tipo_beneficiario :selected').text() == 'Titular'){
       $('#id_parentesco').attr('disabled','disabled');
    }
    else {
        $('#id_parentesco').attr('disabled', false);
    }
});

/*$('#id_habitual').click(function() {
   if($('#id_habitual').is(':checked') == false){
        $('#myModal').modal('show');
    }
});*/

document.getElementById('id_habitual').onclick=function() {
    if($('#id_habitual').is(':checked') == false){
        $('#myModal').modal('show');
    }
}

$('#btnGuardar').click(function(){
    if($('#id_obra_social').val() == ""){
        alert("Por favor seleecione una obra social!");
        $('#id_obra_social').focus();
        return;
    }
    $('#frm').submit();
});

</script>

{% endblock %}
