{% extends 'arbol_item.html' %}

{% block content %}

<div style="background-color:#ccc">
    <a href='/agendas/listado'><strong>LISTADO</strong></a> --

    <a href='/agendas/modi/{{ agenda.id }}'><strong>AGENDA</strong></a> --

    <strong>CONFIGURACION POR DIAS</strong> --

    <a href="/agendas/bloqueo/{{ agenda.id }}">
        <strong>BLOQUEOS</strong>
    </a> --

    <a href="/agendas/extender/{{ agenda.id }}">
        <strong>EXTENDER</strong>
    </a>

    <br><br>
</div>

<br>

<form action="" method="post">

    {% csrf_token %}

    <div style="width:900px">

        <div class="x_panel">
            <div class="x_content">

                <table id="example" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr class="headings">
                            <th>Profesional </th>
                            <th>Tipo Agenda </th>
                            <th>Fecha Desde</th>
                            <th>Fecha Hasta</th>
                            <th>Especialidad </th>
                        </tr>
                    </thead>
                    <tr>
                        <td class=" ">
                            {{ agenda.profesional.persona.apellido }},
                            {{ agenda.profesional.persona.nombre }}
                        </td>
                        <td class=" ">{{ agenda.tipo_agenda.descripcion }}</td>
                        <td class=" ">{{ agenda.fecha_desde | date:"d/m/Y" }}</td>
                        <td class=" ">{{ agenda.fecha_hasta | date:"d/m/Y" }}</td>
                        <td class=" ">{{ agenda.especialidad.nombre }}</td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

    {% for msg in messages %}

    <strong>{{ msg }}</strong>
    <br><br>

    {% endfor %}

    {% if form.non_field_errors %}

        <strong>{{form.non_field_errors}}</strong>

        <br>

    {% endif %}

    <div style="width:900px">

        <div class="x_panel">
            <div class="x_content">

                <input type="hidden" id="id_agenda" name="agenda" value="{{agenda.id}}">

                {% if form.dia.errors %}
                    {{form.dia.errors}}
                {% endif %}
                Dia: {{ form.dia }} <br>

                {% if form.fecha_desde.errors %}
                    {{form.fecha_desde.errors}}
                {% endif %}
                Fecha Desde: {{ form.fecha_desde }} <br>

                {% if form.fecha_hasta.errors %}
                    {{form.fecha_hasta.errors}}
                {% endif %}
                Fecha Hasta: {{ form.fecha_hasta }} <br>

                {% if form.hora_desde.errors %}
                    {{form.hora_desde.errors}}
                {% endif %}
                Hora Desde: {{ form.hora_desde }} <br>

                {% if form.hora_hasta.errors %}
                    {{form.hora_hasta.errors}}
                {% endif %}
                Hora Hasta: {{ form.hora_hasta }} <br>

                {% if form.duracion_minutos.errors %}
                    {{form.duracion_minutos.errors}}
                {% endif %}
                Duracion turno: {{ form.duracion_minutos }} <br>

                Practica: {{ form.practica }} <br>

            </div>

        </div>

        <br>
        <input type="submit" value="Guardar" id="btnGuardar" class="btn btn-primary">
    </div>

    <br>

    <div style="width:1200px">

        <div class="x_panel">
            <div class="x_content">

                <table id="example" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr class="headings">
                            <th>Dia </th>
                            <th>Fecha Desde</th>
                            <th>Fecha Hasta</th>
                            <th>Hora Desde</th>
                            <th>Hora Hasta</th>
                            <th>Duracion</th>
                            <th>Practica</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    {% for configuracion in agenda_dia_configuracion %}

                        <tr>
                            <td class=" ">{{ configuracion.dia.nombre }}</td>
                            <td class=" ">{{ configuracion.fecha_desde | date:"d/m/Y" }}</td>
                            <td class=" ">{{ configuracion.fecha_hasta | date:"d/m/Y" }}</td>
                            <td class=" ">{{ configuracion.hora_desde }}</td>
                            <td class=" ">{{ configuracion.hora_hasta }}</td>
                            <td class=" ">{{ configuracion.duracion_minutos }} minutos</td>
                            <td class=" ">{{ configuracion.practica.nombre | default:"-" }}</td>
                            <th>
                                <a href='/agendas/configuracion_por_dias/modi/{{configuracion.id}}'>
                                    Editar
                                </a>
                                 |
                                <a href='/agendas/configuracion_por_fechas/{{configuracion.id}}'>
                                    Fechas
                                </a>
                                 |
                                <a href='/agendas/configuracion_por_dias/delete/{{configuracion.id}}'>
                                    Borrar
                                </a>
                            </th>
                        </tr>

                    {% endfor %}
                </table>

            </div>

        </div>
    </div>
</form>

<script>

    $(document).ready(function()
    {
        $("#id_hora_desde").attr("placeholder", "hh:mm");
        $("#id_hora_hasta").attr("placeholder", "hh:mm");
        $("#id_fecha_desde").attr("placeholder", "dd/mm/aaaa");
        $("#id_fecha_hasta").attr("placeholder", "dd/mm/aaaa");
    });

</script>

{% endblock %}