{% extends 'arbol_item.html' %}
{% block content %}

<form method="post"> {% csrf_token %}

    <div class="col-md-8 col-sm-8 col-xs-12 animated fadeInDown">
        <div class="well profile_view">
            <div class="col-xs-12 bottom text-center">
                <div class="col-xs-12 col-sm-6 emphasis">
                    <h4 class="brief"><i> Confirma la acción?</i></h4>
                    <br>
                    <button class="btn btn-danger btn-xl" type="submit" ><i class="fa fa-trash">
                        </i>    Borrar Bloqueo </button>

                </div>
            </div>
        </div>
    </div>

</form>
{% endblock %}