{% extends 'arbol_item.html' %}

{% block content %}

<div style="background-color:#ccc">
    <a href='/agendas/listado'><strong>LISTADO</strong></a> --

    <a href='/agendas/modi/{{ agenda.id }}'><strong>AGENDA</strong></a> --


    {% if agenda %}

        <a href="/agendas/configuracion_por_dias/{{ agenda.id }}">
            <strong>CONFIGURACION POR DIAS</strong>
        </a> --

        <a href="/agendas/bloqueo/{{ agenda.id }}">
            <strong>BLOQUEOS</strong>
        </a> --

        <strong>EXTENDER</strong>

    {% endif %}

    <br><br>
</div>

<br>

<form action="" method="post">

    {% csrf_token %}

    <div style="width:800px">

        <div class="x_panel">
            <div class="x_title">
                <h2>AGENDA</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table id="example" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr class="headings">
                            <th>Profesional </th>
                            <th>Tipo Agenda </th>
                            <th>Fecha Desde</th>
                            <th>Fecha Hasta</th>
                            <th>Especialidad </th>
                        </tr>
                    </thead>
                    <tr>
                        <td class=" ">
                            {{ agenda.profesional.persona.apellido }},
                            {{ agenda.profesional.persona.nombre }}
                        </td>
                        <td class=" ">{{ agenda.tipo_agenda.descripcion }}</td>
                        <td class=" ">{{ agenda.fecha_desde | date:"d/m/Y" }}</td>
                        <td class=" ">{{ agenda.fecha_hasta | date:"d/m/Y" }}</td>
                        <td class=" ">{{ agenda.especialidad.nombre }}</td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

    {% for msg in messages %}

        <br><br>
        <strong>{{ msg }}</strong>
        <br><br>

    {% endfor %}

    <div style="width:800px">

        <div class="x_panel">
            <div class="x_title">
                <h2>EXTENDER AGENDA</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            Fecha Hasta:&nbsp;&nbsp;&nbsp;
            <input type="text" name="fecha_hasta" value="{{agenda.fecha_hasta | date:'d/m/Y' }}">

            </div>

        </div>

        <br>
        <input type="submit" value="Guardar" id="btnGuardar" class="btn btn-primary">
    </div>
</form>

{% endblock %}