{% extends 'arbol_item.html' %}
{% load staticfiles %}

{% block content %}
<div class="">
    <div class="page-title">
        <div class="title_right">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista de Agendas</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <label for="heard">Filtrar:</label>
                    <div class="row">
                        <form method="get" id="frm">
                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <select class="form-control col-md-3 col-sm-12 col-xs-12" id="id_filtro" name="filtro">
                                    <option value="SELECCIONE">Seleccione..</option>
                                    <option value="TODOS">TODOS</option>
                                    <option value="PROFESIONAL">Profesional</option>
                                    <option value="ESPECIALIDAD">Especialidad</option>
                                    <option value="TIPO_AGENDA">Tipo Agenda</option>
                                </select>
                            </div>

                            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <select class="form-control col-md-3 col-sm-12 col-xs-12" id="id_profesional" name="profesional" style="display: none">
                                    <option value="SELECCIONE">Seleccione..</option>
                                </select>

                                <select class="form-control col-md-3 col-sm-12 col-xs-12" id="id_especialidad" name="especialidad" style="display: none">
                                    <option value="SELECCIONE">Seleccione..</option>
                                </select>

                                <select class="form-control col-md-3 col-sm-12 col-xs-12" id="id_tipo_agenda" name="tipo_agenda" style="display: none">
                                    <option value="SELECCIONE">Seleccione..</option>
                                </select>
                            </div>

                            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <input class="btn btn-success col-md-3 col-sm-12 col-xs-12" type="button" id="btnBuscar" value="Buscar">
                            </div>

                        </form>
                    </div>



                    <div style="text-align: right">
                        <button class="btn btn-primary" onclick="window.location='/agendas/alta/'">
                            Nueva Agenda
                        </button>
                    </div>
                    <br>

                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>Profesional </th>
                                <th>Institucion </th>
                                <th>Tipo Agenda </th>
                                <th>Fecha Desde</th>
                                <th>Fecha Hasta</th>
                                <th>Especialidad </th>
                                <th class=" no-link last">
                                    <span class="nobr">Acción</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for agenda in agenda_list %}
                            <tr class="odd pointer">
                                <td class=" ">
                                    {{ agenda.profesional.persona.apellido }},
                                    {{ agenda.profesional.persona.nombre }}
                                </td>
                                <td class=" ">{{ agenda.institucion.nombre }}</td>
                                <td class=" ">{{ agenda.tipo_agenda.descripcion }}</td>
                                <td class=" ">
                                    {{ agenda.fecha_desde | date:"d/m/Y" }}
                                </td>
                                <td class=" ">{{ agenda.fecha_hasta | date:"d/m/Y" }}</td>
                                <td class=" ">{{ agenda.especialidad.nombre }}</td>
                                <td class=" last">
                                    <a href="/agendas/modi/{{ agenda.id }}">
                                        Editar
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                    No se encontraron registros
                                </div>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if is_paginated %}
                        <center>
                        <!--label>Ir a la página: <input type="text" id="page" name="page" size=3></label-->
                        </center>
                        <center>
                           <ul class="pagination">
                               <li id="n_pag_inicio" ><a href="/agendas/listado/" title="Ir al inicio"> << </a></li>

                                {% if page_obj.has_previous %}
                                    <li id="n_pag_{{page_obj.number}}"><a id="volver()" href="?page={{ page_obj.previous_page_number }}" title="Volver uno"> < </a></li>
                                {% endif %}

                                <li><a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>

                                {% if page_obj.has_next %}
                                    <li id="n_pag_{{page_obj.number}}"><a id="avanzar()" href="?page={{ page_obj.next_page_number }}" title="Avanzar uno"> > </a></li>
                                {% endif %}

                                <li id="n_pag_fin"><a href="?page=last" title="Ir al final"> >> </a></li>
                            </ul>
                        </center>
                    {% endif %}
                </div>
            </div>
        </div>

        <br />
        <br />
        <br />

    </div>
</div>

<script>

    $(document).ready(function()
    {
        cargar_filtros();
    });

    function cargar_filtros()
    {
        cargar_profesionales();
        cargar_especialidades();
        cargar_tipos_agendas();
    }

    function cargar_tipos_agendas()
    {
        $.ajax({
            url:"/agendas/get_tipos_agendas/",
            cache: false,
            type: "GET",
            success: function(request) {
                console.log(request);

                $.each(request, function (key, tipo_agenda) {
                    $('#id_tipo_agenda').append($('<option>', {
                        value: tipo_agenda.id,
                        text : tipo_agenda.descripcion
                    }));
                });
            }
        });
    }

    function cargar_profesionales()
    {
        $.ajax({
            url:"/agendas/get_profesionales_con_agenda/",
            cache: false,
            type: "GET",
            success: function(request) {
                console.log(request);

                $.each(request, function (key, profesional) {
                    $('#id_profesional').append($('<option>', {
                        value: profesional.id,
                        text : profesional.nombre
                    }));
                });
            }
        });
    }

    function cargar_especialidades()
    {
        $.ajax({
            url:"/agendas/get_especialidades/",
            cache: false,
            type: "GET",
            success: function(request) {
                console.log(request);

                $.each(request, function (key, especialidad) {
                    $('#id_especialidad').append($('<option>', {
                        value: especialidad.id,
                        text : especialidad.nombre
                    }));
                });
            }
        });
    }

    $("#id_filtro").change(function()
    {
        filtro = $("#id_filtro").val();

        if (filtro == "TODOS" || filtro == "SELECCIONE")
        {
            $("#id_profesional").css("display", "none");
            $("#id_especialidad").css("display", "none");
            $("#id_tipo_agenda").css("display", "none");
        }
        else if (filtro == "PROFESIONAL")
        {
            $("#id_profesional").css("display", "block");
            $("#id_especialidad").css("display", "none");
            $("#id_tipo_agenda").css("display", "none");
        }
        else if (filtro == "ESPECIALIDAD")
        {
            $("#id_profesional").css("display", "none");
            $("#id_especialidad").css("display", "block");
            $("#id_tipo_agenda").css("display", "none");
        }
        else if (filtro == "TIPO_AGENDA")
        {
            $("#id_profesional").css("display", "none");
            $("#id_especialidad").css("display", "none");
            $("#id_tipo_agenda").css("display", "block");
        }

    });

    $("#btnBuscar").click(function()
    {
        filtro = $("#id_filtro").val();

        if (filtro == "SELECCIONE")
        {
            alert("Por favor seleccione una filtro para la búsqueda!");
            return;
        }

        if (filtro == "PROFESIONAL")
        {
            var profesional = $("#id_profesional").val();

            if (profesional == "SELECCIONE")
            {
                alert("Por favor seleccione un profesional para la búsqueda!");
                return;
            }

        }
        else if (filtro == "ESPECIALIDAD")
        {
            var especialidad = $("#id_especialidad").val();

            if (especialidad == "SELECCIONE")
            {
                alert("Por favor seleccione una especialidad para la búsqueda!");
                return;
            }
        }
        else if (filtro == "TIPO_AGENDA")
        {
            var tipo_agenda = $("#id_tipo_agenda").val();

            if (tipo_agenda == "SELECCIONE")
            {
                alert("Por favor seleccione un tipo de agenda para la búsqueda!");
                return;
            }
        }

        $("#frm").submit();

    });

</script>

{% endblock %}