{% extends 'arbol_item.html' %}

{% load global_tags %}

{% block content %}

    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/{{ request.session.modulo }}/listado'><strong>Listado</strong></a> --
            <a href='/{{ request.session.modulo }}/modi/{{ request.session.id }}'><strong>Datos Personales</strong></a> --
            <strong>Domicilio</strong> --
            <a href='/contactos/alta/{{ request.session.id }}'><strong>Contacto</strong></a> --
            <a href='/obrassociales/alta/{{ request.session.id }}'><strong>Obra Social</strong></a> --
            <a href='/familiares/busqueda/{{ request.session.id }}'><strong>Familia</strong></a> --
            <a href='/notas/alta/{{ request.session.id }}'><strong>Notas</strong></a>
            {% if request.session.modulo != 'empleados'  %}
                -- <a href='/fichassociales/alta/{{ request.session.id }}'><strong>Ficha Social</strong></a>
            {% endif %}
        </div>
    </div>

    {% if messages %}
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Mensaje:</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="clearfix"></div>
    <form id="demo-form2" method="post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
    <div class="row">
        <div class="col-md-4  col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Domicilio -
                        {% for persona in persona_list %}
                            {{ persona }}
                        {% endfor %}
                    </h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="form-group">
                    <label for="id_tipo">Tipo:</label>
                        {% if form.errors.tipo %}
                            <strong>
                                {{ form.errors.tipo }}
                            </strong>
                        {% endif %}
                              {{ form.tipo }}
                    </div>

                    <div class="form-group">
                    <label for="id_pais">País(*):</label>
                        {% if form.errors.pais %}
                            <strong>
                                {{ form.errors.pais }}
                            </strong>
                        {% endif %}
                                {{ form.pais }}
                    </div>

                    <div class="form-group">
                    <label for="id_provincia">Provincia(*):</label>
                        {% if form.errors.provincia %}
                            <strong>
                                {{ form.errors.provincia }}
                            </strong>
                        {% endif %}
                                {{ form.provincia }}
                    </div>

                    <div class="form-group">
                    <label for="id_departamento">Departamento:</label>
                        {% if form.errors.departamento %}
                            <strong>
                                {{ form.errors.departamento }}
                            </strong>
                        {% endif %}
                                {{ form.departamento }}
                    </div>

                    <div class="form-group">
                    <label for="id_localidad">Localidad:</label>
                        {% if form.errors.localidad %}
                            <strong>
                                {{ form.errors.localidad }}
                            </strong>
                        {% endif %}
                                {{ form.localidad }}
                    </div>

                    <div class="form-group">
                    <label for="id_barrio">Barrio</label>
                        {% if form.errors.barrio%}
                            <strong>
                               {{ form.errors.barrio }}
                            </strong>
                        {% endif %}
                        {{ form.barrio }}
                    </div>

                    <div class="form-group">
                    <label for="id_descripcion">Descripción</label>
                       {% if form.errors.descripcion %}
                           <strong>
                               {{ form.errors.descripcion}}
                           </strong>
                       {% endif %}
                       {{ form.descripcion }}
                     </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista de Domicilios</h2>
                    <div class="clearfix"></div>
                </div>
                <table id="example" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                    <tr class="headings">
                        <th>Tipo </th>
                        <th>País</th>
                        <th>Provincia </th>
                        <th>Departamento</th>
                        <th>Localidad </th>
                        <th>Barrio </th>
                        <th>Descripción </th>
                        <th class=" no-link last">
                        <span class="nobr">Editar</span>
                        </th>
                        <th class=" no-link last">
                        <span class="nobr">Eliminar</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for domicilio in domicilio_list %}
                        <tr class="odd pointer">
                        <td class=" ">{{ domicilio.tipo }}</td>
                        <td class=" ">{{ domicilio.pais }}</td>
                        <td class=" ">{{ domicilio.provincia }}</td>
                        <td class=" ">{{ domicilio.departamento }}</td>
                        <td class=" ">{{ domicilio.localidad }}</td>
                        <td class=" ">{{ domicilio.barrio }}</td>
                        <td class=" ">{{ domicilio.descripcion }}</td>
                        <td class=" last">
                            <a href="/domicilios/modi/{{domicilio.id}}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a href="/domicilios/delete/{{domicilio.id}}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                        </tr>
                    {% empty %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            No se encontraron registros
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

     <div class="row">
         <div class="x_panel">
            <div class="x_content">
                 <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <a href="/{{ request.session.modulo }}/modi/{{ request.session.id }}" type="button" class="btn btn-primary">Cancelar</a>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

     </form>
{% endblock %}
