{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>:: SGH - HAC ::</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'fonts/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

    <!-- colorpicker -->
    <link href="{% static 'css/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <!--link href="{% static 'css/maps/jquery-jvectormap-2.0.1.css' %}" rel="stylesheet" type="text/css"/-->
    <link href="{% static 'css/icheck/flat/green.css' %}" rel="stylesheet" />
    <link href="{% static 'css/floatexamples.css' %}" rel="stylesheet" type="text/css" />

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/nprogress.js' %}"></script>

    <!-- datepicker -->
    <script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
    <!-- datepicker -->

    <!-- select2 bootstrap -->
    <!--<link href="{% static 'select2-3.5.3/select2.css' %}" rel="stylesheet"/>-->
    <!--<script src="{% static 'select2-3.5.3/select2.js' %}"></script>-->
    <!-- select2 bootstrap -->

    <script>
        //POR ERROR SIN SENTIDO EN PRODUCCION
        //NProgress.start();
    </script>

    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="{% static 'js/html5shiv.min.js' %}"></script>
          <script src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->

</head>


<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;text-align:center">
                        <!--a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>SIHAC</span></a-->
                        <a href="/" class="site_title"><img src="{{ MEDIA_URL }}logo/sihac-xl.png" alt="Sistema Informático HAC"/></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="{{ MEDIA_URL }}images/user.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            <h2>{{ user }}</h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <p>&nbsp;</p>
                            <p><h3>Modulos de Sistema</h3></p>

                            <!-- AQUI SE CARGA EL CONTENIDO DEL ARBOL ITEM -->
                            {%block arbolitem%}
                            {%endblock%}
                            <!-- AQUI SE CARGA EL CONTENIDO DEL ARBOL ITEM -->
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <!--div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div-->
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ MEDIA_URL }}images/user.png" alt="">{{ user }}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li><a href="/ayuda"><i class="fa fa-question-circle pull-right"></i>  Ayuda</a></li>
                                    <li><a href="/internos"><i class="fa fa-phone pull-right"></i> Internos</a></li>
                                    <li><a href="/salir"><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                                </ul>
                            </li>
                         </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->


            <!-- page content -->
            <div class="right_col" role="main">
                <!-- AQUI SE CARGA EL CONTENIDO DEL MODULO -->
                {%block content%}
                {%endblock%}
                <!-- AQUI SE CARGA EL CONTENIDO DEL MODULO -->

            </div>
            <!-- footer content -->
            <div class="">
                <p class="pull-right">Copyright &copy; HAC "Pte. Juan Domingo Perón" | Todos los derechos reservados.
                    <span class="lead"> <i class="fa fa-stethoscope"></i> SiHAC</span>
                </p>
            </div>
            <!-- /footer content -->
            <!-- /page content -->
        </div>


    </div>




    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- gauge js POR ERROR SIN SENTIDO EN PRODUCCION-->
    <!--script type="text/javascript" src="{% static 'js/gauge/gauge.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gauge/gauge_demo.js' %}"></script-->
    <!-- chart js -->
    <script src="{% static 'js/chartjs/chart.min.js' %}"></script>
    <!-- bootstrap progress js -->
    <script src="{% static 'js/progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- Linea Comentada, por problemas con IE -->
    <!--<script src="{% static 'js/nicescroll/jquery.nicescroll.min.js' %}"></script> --->
    <!-- icheck -->
    <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'js/custom.js' %}"></script>

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="{% static 'js/excanvas.min.js' %}"></script><![endif]-->
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.orderBars.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.time.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/date.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.spline.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.stack.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/curvedLines.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/maps/jquery-jvectormap-2.0.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/maps/gdp-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/maps/jquery-jvectormap-us-aea-en.js' %}"></script>

    <script src="{% static 'js/skycons/skycons.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}" type="text/javascript" charset="utf-8"></script>

    <script>


        //NProgress.done();
    </script>
    <!-- /datepicker -->

    {% block js %}




    {% endblock %}
</body>
<script>
    // Script para quitar scroll en la cajas numericas
    $(':input[type=number]').on('mousewheel', function(e){
       $(this).blur();
    });
</script>
</html>
