{% extends 'arbol_item.html' %}
{%load staticfiles%}

{% block content %}
<!-- Page Content -->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista de Internos del HAC </h2>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <p>Números de <code>referencia</code> de cada servicio.</p>

            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Servicio </th>
                        <th class="column-title">Área </th>
                        <th class="column-title">Referente </th>
                        <th class="column-title">Interno </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="even pointer">
                        <td class=" ">Informática</td>
                        <td class=" ">Desarrollo</td>
                        <td class=" ">Riquelme,  Eduardo </td>
                        <td class=" ">280</td>
                    </tr>
                    <tr class="even pointer">
                        <td class=" ">Informática</td>
                        <td class=" ">Desarrollo</td>
                        <td class=" ">Riquelme,  Eduardo </td>
                        <td class=" ">280</td>
                    </tr>
                    <tr class="even pointer">
                        <td class=" ">Informática</td>
                        <td class=" ">Desarrollo</td>
                        <td class=" ">Riquelme,  Eduardo </td>
                        <td class=" ">280</td>
                    </tr>
                    <tr class="even pointer">
                        <td class=" ">Informática</td>
                        <td class=" ">Desarrollo</td>
                        <td class=" ">Riquelme,  Eduardo </td>
                        <td class=" ">280</td>
                    </tr>
                    <tr class="even pointer">
                        <td class=" ">Informática</td>
                        <td class=" ">Desarrollo</td>
                        <td class=" ">Riquelme,  Eduardo </td>
                        <td class=" ">280</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}