{% extends 'arbol_item.html' %}

{% block content %}

{% load global_tags %}

<div style="background-color:#ccc" xmlns="http://www.w3.org/1999/html">
    <a href='/pacientes/listado'><strong>Listado</strong></a> --

    {% if persona %}
        <a href='/domicilios/alta/{{ persona.id }}'><strong>Domicilio</strong></a> --

        <a href='/contactos/alta/{{ persona.id }}'><strong>Contacto</strong></a> --

        <a href='/obrassociales/alta/{{ persona.id }}'><strong>Obra Social</strong></a> --

        <a href='/familiares/busqueda/{{ persona.id }}'><strong>Familia</strong></a> --

        <a href='/notas/alta/{{ persona.id }}'><strong>Nota</strong></a> --

        <a href='/fichassociales/verificacion/{{ request.session.id }}'><strong>Ficha Social</strong></a> --

    {% endif %}

</div>

<!--
<a href=''>Datos Personales</a> ---
{% if domicilio.id %}
    <a href='/domicilios/empleados/modi/{{ domicilio.id }}'>Domicilio</a>
{% endif %}
-->

<br><br>
    {% if messages %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Paciente <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>


                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" method="post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Código del Paciente <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ PacienteForm.codigo }}
                            </div>
                        </div>

                             <!-- Small modal -->
                                <input type="hidden" id="modal" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
                                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h4 class="modal-title btn-danger" id="myModalLabel2"><i class="fa fa-exclamation-triangle"></i>Atención</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Estimado {{ user }}: </p>
                                                <p>Usted esta ingresando un paciente "Sin Documento".</p>
                                                <p>Seguro que desea realizar esta acción ?</p>
                                                <p>Se recomienda antes de dar de alta el Paciente, como indocumentado, buscar el mismo previamente por :</p>
                                                <p>Fecha de Nacimiento.</p>
                                                <p>Apellido y Nombre.</p>
                                                <p>Id del Paciente.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cargarlo como S/D</button>
                                                <a type="button" href="/pacientes/listado/" class="btn btn-primary">Buscar el Paciente</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                             <!-- /modals -->

                         <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Fecha Alta<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ PacienteForm.fecha_alta }}
                                 {% if PacienteForm.errors.fecha_alta %}
                                     <strong>
                                           {{ PacienteForm.errors.fecha_alta }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de Paciente(*) <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ PacienteForm.tipo }}
                                 {% if PacienteForm.errors.tipo %}
                                     <strong>
                                           {{ PacienteForm.errors.tipo }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Clase <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ PacienteForm.clase }}
                                 {% if PacienteForm.errors.clase %}
                                     <strong>
                                           {{ PacienteForm.errors.clase }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Grupo Sanguíneo <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ PacienteForm.grupo_sanguineo }}
                                 {% if PacienteForm.errors.grupo_sanguineo %}
                                     <strong>
                                           {{ PacienteForm.errors.grupo_sanguineo }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Apellido <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.apellido }}
                                 {% if form.errors.apellido %}
                                     <strong>
                                           {{ form.errors.apellido }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                         <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Nombre<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.nombre }}
                                 {% if form.errors.nombre %}
                                     <strong>
                                           {{ form.errors.nombre }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Tipo de Documento(*)<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.tipo_documento }}
                                 {% if form.errors.tipo_documento %}
                                     <strong>
                                           {{ form.errors.tipo_documento }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Documento<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.numero_documento }}
                                 {% if form.errors.numero_documento %}
                                     <strong>
                                           {{ form.errors.numero_documento }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Sexo(*)<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.sexo }}
                                 {% if form.errors.sexo %}
                                     <strong>
                                           {{ form.errors.sexo }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Fecha de Nacimiento<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.fecha_nacimiento }}
                                 {% if form.errors.fecha_nacimiento %}
                                     <strong>
                                           {{ form.errors.fecha_nacimiento }}
                                     </strong>
                                 {% endif %}
                                <div class="alert alert-danger" role="alert" id="temporal">
                                  <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                                  <span class="sr-only">Atención:</span>
                                    Importante: Si no conoce la Fecha de Nacimiento deje el campo sin modificar
                                </div>
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Edad<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 <input class="form-control" disabled="true" id="id_edad" name="edad" type="text" value="{{ persona.get_edad }} años" />
                            </div>
                        </div>
                        <!-- Controles --->



                         <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Estado Civil<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.estado_civil }}
                                 {% if form.errors.estado_civil %}
                                     <strong>
                                           {{ form.errors.estado_civil }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <!--div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Obra Social<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.obra_social }}
                                 {% if form.errors.obra_social %}
                                     <strong>
                                           {{ form.errors.obra_social }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div-->
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Foto<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.foto }}
                                 {% if form.errors.foto %}
                                     <strong>
                                           {{ form.errors.foto }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Nivel de Educación<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.nivel_educacion }}
                                 {% if form.errors.nivel_educacion %}
                                     <strong>
                                           {{ form.errors.nivel_educacion }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                        <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Profesión<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.profesion }}
                                 {% if form.errors.profesion %}
                                     <strong>
                                           {{ form.errors.profesion }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->

                         <!-- Controles --->
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Observación<span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 {{ form.observaciones }}
                                 {% if form.errors.observaciones %}
                                     <strong>
                                           {{ form.errors.observaciones }}
                                     </strong>
                                 {% endif %}
                            </div>
                        </div>
                        <!-- Controles --->
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a href="/pacientes/listado" type="button" class="btn btn-primary">Cancelar</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>

                    </form>
                    <script>
                        $('#id_tipo_documento').change(function (){
                            if ($("#id_tipo_documento :selected").text() == 'S/D'){
                                document.getElementById("modal").click();
                            }
                        });
                        /*--- Controles de fecha de nacimiento ----- */
                        $('#id_fecha_nacimiento').change(function (){
                            if ($("#id_fecha_nacimiento").val() != '1900-01-01'){
                                $('#temporal').hide();
                            }else{
                                $('#temporal').show();
                            }
                            if ($("#id_fecha_nacimiento").val() == ''){
                                $("#id_fecha_nacimiento").val('1900-01-01');
                                $('#temporal').show();
                            }
                        });
                        $('#id_fecha_nacimiento').keypress(function (){
                            if ($("#id_fecha_nacimiento").val() != '1900-01-01'){
                                $('#temporal').hide();
                            }else{
                                $('#temporal').show();
                            }
                        });
                        /*--- Controles de fecha de nacimiento ----- */
                        /*----- Select2 Bootstrap ----*/
                            //$('#id_tipo_documento').select2();
                            //$('#id_sexo').select2();
                            //$('#id_clase').select2();
                            //$('#id_grupo_sanguineo').select2();
                            //$('#id_tipo').select2();
                            //$('#id_estado_civil').select2();
                            //$('#id_obra_social').select2();
                            //$('#id_nivel_educacion').select2();
                            //$('#id_profesion').select2();
                        /*----- Select2 Bootstrap ----*/
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
