{% extends 'arbol_item.html' %}
{%load staticfiles%}

{% block content %}
<!-- Page Content -->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Contactos de soporte de sistema</h2>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <p>Centro de <code>soporte de sistema</code>.</p>

            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Servicio de Soporte </th>
                        <th class="column-title">Contacto 1 </th>
                        <th class="column-title">Contacto 2 </th>
                        <th class="column-title">Sitio web </th>
                        <th class="column-title">E-mail</th>
                        <th class="column-title">Hs de Atencion</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="even pointer">
                        <td class=" ">FormingDeveloper</td>
                        <td class=" ">3704299709</td>
                        <td class=" ">3704299709</td>
                        <td class=" ">www.formingdeveloper.com.ar</td>
                        <td class=" ">formingdeveloper@gmail.com</td>
                        <td class=" ">Lunes a Jueves de 08:00 - 13:00 y de 17:00 - 20:00 </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}