{% extends 'arbol_item.html' %}

{% block content %}

    <!--style>
        .animated{
            cursor: pointer;
        }
    </style-->

    <!-- content -->

    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" onclick="window.location='/clientes/listado'">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-plus-square"></i>
                </div>
                <div class="count">CLIENTES</div>

                <h3>Lista de Clientes</h3>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12"
             onclick="window.location='/tramites/listado'">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-calendar"></i>
                </div>
                <div class="count">TRAMITES</div>

                <h3>Lista de Trámites</h3>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" onclick="window.location='/turnos/listado'">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-tags"></i>
                </div>
                <div class="count">TURNOS</div>

                <h3>Fechas de Turnos</h3>
                <p>&nbsp;</p>
            </div>
        </div>

    </div>
    <!-- end content -->

{% endblock %}


