{% extends 'arbol_item.html' %}
{% load global_tags %}

{% block content %}

    <style>
        .animated{
            cursor: pointer;
        }
    </style>

    <!-- content -->

    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" onclick="window.location='/clientes/listado'">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-user"></i>
                </div>
                <div class="count">CLIENTES</div>

                <h3>Lista de Clientes</h3>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12"
             onclick="window.location='/tramites/listado'">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-file"></i>
                </div>
                <div class="count">TRAMITES</div>

                <h3>Lista de Trámites</h3>
                <p>&nbsp;</p>
            </div>
        </div>
        <!--div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" onclick="window.location='/turnos/listado'">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-tags"></i>
                </div>
                <div class="count">TURNOS</div>

                <h3>Fechas de Turnos</h3>
                <p>&nbsp;</p>
            </div>
        </div-->

    </div>
    <!-- end content -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><strong>NOVEDADES</strong> <small>Tramites a tener en cuenta</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h2></h2>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12" style="cursor:pointer;">
                        <a>Imprimir Lista <i class="fa fa-print"></i></a> |
                        <a>Exportar a Excel <i class="fa fa-file-excel-o"></i></a> |
                        <a>Exportar a PDF <i class="fa fa-file-pdf-o"></i></a>
                    </div><br><br>
                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>Tipo </th>
                                <th>Cliente</th>
                                <th>Tel. Fijo</th>
                                <th>Tel. Movil</th>
                                <th>Email</th>
                                <th>Fecha de Turno</th>
                                <th>Fecha de Alarma</th>
                                <th>Observaciones</th>
                                <th>Requisitos</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for novedad in novedades %}
                            <tr style="cursor:pointer" onclick="verTramite('{{ novedad.id }}')">
                                <td>{{ novedad.tipo }}</td>
                                <td>{{ novedad.cliente }}</td>
                                <td>{{ novedad.cliente | get_contactos:'TELEFONO_FIJO' }}</td>
                                <td>{{ novedad.cliente | get_contactos:'TELEFONO_MOVIL' }}</td>
                                <td>{{ novedad.cliente | get_contactos:'EMAIL' }}</td>
                                <td style="color: {{ novedad.fecha_turno|set_color_estado }}">
                                    <b>{{ novedad.fecha_turno | date:'d/m/Y' }} {{ novedad.fecha_turno | get_danger }}</b>
                                </td>
                                <td style="color:darkred">{{ novedad.fecha_alarma | date:'d/m/Y'  }}</td>
                                <td>{{ novedad.observaciones }}</td>
                                <td>{{ novedad | get_estado_requisitos }}</td>
                                <td><i style="color: {{ novedad.fecha_turno|set_color_estado }}" class="glyphicon glyphicon-exclamation-sign" title="Ver referencias"></i></td>
                            </tr>
                        {% empty %}
                            <div class="alert alert-danger" role="alert">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                                No se encontraron registros
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="x_content">
                    <label style="text-decoration: underline;">Referencias</label>
                    <p><i style="color: #ff0000" class="glyphicon glyphicon-exclamation-sign"></i> 0 - 5 dias para el turno |
                        <i style="color: #FFA500" class="glyphicon glyphicon-exclamation-sign"></i> 5 - 10 dias para el turno |
                        <i style="color: #008000" class="glyphicon glyphicon-exclamation-sign"></i> Mas de 10 dias para el turno</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function verTramite(tramiteID){
            location.href = '/tramites/modi/' + tramiteID + '/';
        }
    </script>

{% endblock %}


