{% extends 'arbol_item.html' %}
{%load staticfiles%}

{% block content %}
<!-- Page Content -->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista de Contactos de Cuestion Legal </h2>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <p>Números de <code>referencia</code> de cada servicio.</p>

            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Empleado </th>
                        <th class="column-title">Tel. Fijo </th>
                        <th class="column-title">Celular </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="even pointer">
                        <td class=" ">Corrales Silvana</td>
                        <td class=" ">4425693</td>
                        <td class=" ">3704295684</td>
                    </tr>
                    <tr class="even pointer">
                        <td class=" ">Corrales Silvana2</td>
                        <td class=" ">4425693</td>
                        <td class=" ">3704295684</td>
                    </tr>
                    <tr class="even pointer">
                        <td class=" ">Montenegro Solange</td>
                        <td class=" ">4425693</td>
                        <td class=" ">3704295684</td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}