    {% extends 'arbol_item.html' %}
    {% load staticfiles %}
    {% block content %}

        <div class="title_right" style="background-color:#ccc">
            <div class="x_title">
                <a href='/'><strong>INICIO</strong></a> --
                <a href='/clientes/listado'><strong>LISTA DE CLIENTES</strong></a> --
                <a href='/clientes/modi/{{ form.cliente.id }}'><strong>DATOS DEL CLIENTE</strong></a> --
                <strong>CONTACTO</strong> --
                <a href='/tramites/listado/{{ cliente_form.instance.id }}'><strong>HISTORIAL DE TRAMITES</strong></a>
            </div>
        </div>

        <!-- mensaje -->
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Info:</span>
                    {{ message }}
                </div>
            {% endfor %}
            </ul>
        {% endif %}
        <!-- mensaje -->
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Contacto -
                            {% for persona in persona_list %}
                                {{ persona.apellido|upper }}, {{ persona.nombre|upper}}
                            {% endfor %}
                        </h2>
                        <div class="clearfix"></div>
                    </div>


                    <div class="x_content">
                        <form id="demo-form2" method="post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}

                        <div class="form-group">
                            <label class="control-label" for="first-name">Tipo de Contacto(*) <span class="required"></span></label>
                            {{ form.tipo_contacto }}
                            {% if form.tipo_contacto.errors %}
                                <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ form.tipo_contacto.label }}</span>
                                    {{ form.tipo_contacto.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group" id="id_proveedor_div">
                            <label class="control-label" for="first-name">Proveedor <span class="required"></span></label>
                            {{ form.proveedor }}
                            {% if form.proveedor.errors %}
                            <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ form.proveedor.label }}</span>
                                {{ form.proveedor.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="first-name">Descripción(*) <span class="required"></span></label>

                            <div class="item form-group">
                             {{ form.descripcion }}
                            </div>
                            <label id="mensaje_formato" class="">Ejemplo : +54-(370) 4xx-xxxxxx </label>
                            {% if form.descripcion.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ form.descripcion.label }}</span>
                                    {{ form.descripcion.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="first-name">Observación <span class="required"></span></label>
                            {{ form.observacion }}
                            {% if form.observacion.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{ form.observacion.label }}</span>
                                    {{ form.observacion.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                                <a href="/{{ request.session.modulo }}/modi/{{ request.session.id }}" type="button" class="btn btn-primary">Cancelar</a>
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Lista de Contactos</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="example" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th></th>
                                    <th>Decripción </th>
                                    <th>Observación </th>
                                    <th class=" no-link last">
                                        <span class="nobr">Eliminar</span>
                                    </th>
                                    <th class=" no-link last">
                                        <span class="nobr">Editar</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for contacto in contacto_list %}
                                <tr class="odd pointer">
                                    {% if contacto.tipo_contacto.valor == 'SITIO WEB' %}
                                        <td class><i class="fa fa-sitemap"></i></td>
                                    {% endif %}

                                    {% if contacto.tipo_contacto.valor == 'E-MAIL' %}
                                        <td class><i class="fa fa-mail-forward"></i></td>
                                    {% endif %}

                                    {% if contacto.tipo_contacto.valor == 'TELEFONO_FIJO' %}
                                        <td class><i class="fa fa-phone-square"></i></td>
                                    {% endif %}

                                    {% if contacto.tipo_contacto.valor == 'LABORAL' %}
                                        <td class><i class="fa fa-phone"></i></td>
                                    {% endif %}

                                    {% if contacto.tipo_contacto.valor == 'TELEFONO_MOVIL' %}
                                        <td class><i class="fa fa-mobile-phone"></i></td>
                                    {% endif %}

                                    <td class=" ">{{ contacto.tipo_contacto }}: {{ contacto.descripcion }}</td>
                                    <td class=" ">{{ contacto.observacion }}</td>
                                    <td>
                                    <a href="/contactos/delete/{{contacto.id}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    </td>
                                    <td>
                                        <a href="/contactos/modi/{{contacto.id}}">
                                        <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    No se encontraron registros
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- input mask -->
        <script src="{% static 'js/input_mask/jquery.inputmask.js' %}"></script>
        <!-- form validation -->
        <script src="{% static 'js/validator/validator.js' %}"></script>
        <script>
            $( document ).ready(function() {
                $(":input").inputmask();
                document.getElementById('mensaje_formato').style.display = 'none';
                verificar_tipo_contacto();
            });
            $('#id_tipo_contacto').on('change', function() {
                verificar_tipo_contacto();
            });
            var verificar_tipo_contacto = function(){
                var elemento = document.getElementById("id_tipo_contacto");
                var valor = elemento.options[elemento.selectedIndex].text;
                switch(valor) {
                    case 'MÓVIL':
                         $('#id_proveedor').prop("disabled", false);
                         $('#id_descripcion').prop('required',true);
                         $('#id_descripcion').prop("type", "tel");
                         break;
                    case 'INTERNO':
                         document.getElementById('mensaje_formato').style.display = 'none';
                         $('#id_proveedor').prop("disabled", true);
                         $('#id_descripcion').prop('required',true);
                         break;
                    case 'LABORAL':
                         document.getElementById('mensaje_formato').style.display = 'none';
                         $('#id_proveedor').prop("disabled", true);
                         $('#id_descripcion').prop('required',true);
                         $('#id_descripcion').prop("type", "tel");
                         break;
                    case 'PARTICULAR':
                         document.getElementById('mensaje_formato').style.display = 'none';
                         $('#id_proveedor').prop("disabled", true);
                         $('#id_descripcion').prop('required',true);
                         $('#id_descripcion').prop("type", "text");
                         break;
                    case 'E-MAIL':
                         document.getElementById('mensaje_formato').style.display = 'none';
                         $('#id_descripcion').unmask();
                         $('#id_proveedor').prop("disabled", true);
                         $('#id_descripcion').prop('required',true);
                         $('#id_descripcion').prop("type", "email");
                         break;
                    case 'SITIO WEB':
                         document.getElementById('mensaje_formato').innerHTML = "Ejemplo :  http://www.google.com.ar";
                         document.getElementById('mensaje_formato').style.display = 'block';
                         $('#id_descripcion').unmask();
                         $('#id_proveedor').prop("disabled", true);
                         $('#id_descripcion').prop('required',true);
                         $('#id_descripcion').prop("type", "url");
                         break;
                    default:
                         $('#id_descripcion').unmask();
                }
            };

            validator.message['date'] = 'not a real date';
            $('form')
                .on('blur', 'input[required], input.optional, select.required', validator.checkField)
                .on('change', 'select.required', validator.checkField)
                .on('keypress', 'input[required][pattern]', validator.keypress);
            $('.multi.required')
                .on('keyup blur', 'input', function () {
                    validator.checkField.apply($(this).siblings().last()[0]);
                });
            $('form').submit(function (e) {
                e.preventDefault();
                var submit = true;
                if (!validator.checkAll($(this))) {
                    submit = false;
                }
                if (submit)
                    this.submit();
                return false;
            });
            $('#vfields').change(function () {
                $('form').toggleClass('mode2');
            }).prop('checked', false);
            $('#alerts').change(function () {
                validator.defaults.alerts = (this.checked) ? false : true;
                if (this.checked)
                    $('form .alert').remove();
            }).prop('checked', false);

            $( "#id_descripcion" ).keypress(function(evt)
                {
                var elemento = document.getElementById("id_tipo_contacto");
                var valor = elemento.options[elemento.selectedIndex].text;
                if (valor == 'MÓVIL' || valor == 'INTERNO' || valor == 'LABORAL' || valor == 'PARTICULAR'){
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    if (charCode != 43 && charCode > 31 && (charCode < 39 || charCode > 57))
                        return false;
                    return true;
                }
            });
    </script>
{% endblock %}
