{% extends 'arbol_item.html' %}
{% load staticfiles %}


{% block content %}
    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/'><strong>INICIO</strong></a> --
            <strong>LISTA DE CLIENTES</strong></a>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <form method="get" id="frm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div class="x_title">
                        <h2>LISTA DE CLIENTES</h2>
                        <div style="text-align: right">
                            <button type="button" class="btn btn-primary btn-round" onclick="window.location='/clientes/alta/'"><i class="fa fa-plus"></i> Nuevo Cliente</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="input-group form-horizontal top_search col-md-6 col-sm-6 col-xs-6">
                        <input type="text" name="parametro" id="parametro" class="form-control" placeholder="Introduzca un parametro...">
                        <span class="input-group-btn">
                            <input class="btn btn-success" type="button" id="btnBuscar" value="Buscar">
                        </span>
                    </div><br>
                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>Cliente </th>
                                <th>Tipo/N°Documento</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Fecha de Alta</th>
                                <th>Datos Personales</th>
                                <th>Tramites</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in cliente_list %}
                            <tr class="odd pointer">
                                <td class=" ">{{ cliente.persona }}</td>
                                <td class=" ">{{ cliente.persona.tipo_documento }} - {{ cliente.persona.numero_documento }}</td>
                                <td class=" ">{{ cliente.persona.fecha_nacimiento |date:"d/m/Y" }}</td>
                                <td class=" ">{{ cliente.fecha_alta_sistema |date:"d/m/Y" }}</td>
                                <td class=" last">
                                    <a href="/clientes/modi/{{ cliente.id }}"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td class=" last">
                                    <a href="/tramites/listado/{{ cliente.id }}"><i class="fa fa-file"></i></a>
                                </td>
                            </tr>
                            {% empty %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                    No se encontraron registros
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if is_paginated %}

                    <center>
                    <!--label>Ir a la página: <input type="text" id="page" name="page" size=3></label-->
                    </center>
                    <center>
                       <ul class="pagination">
                           <li id="n_pag_inicio" ><a href="/empleados/listado" title="Ir al inicio"> << </a></li>

                            {% if page_obj.has_previous %}
                                <li id="n_pag_{{page_obj.number}}">
                                  <a href="?page={{ page_obj.previous_page_number }}" title="Volver uno"> < </a>
                                </li>
                            {% endif %}

                            <li><a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>

                            {% if page_obj.has_next %}
                                <li id="n_pag_{{page_obj.number}}">
                                  <a href="?page={{ page_obj.next_page_number }}" title="Avanzar uno"> > </a>
                                </li>
                            {% endif %}

                            <li id="n_pag_fin"><a href="?page=last" title="Ir al final"> >> </a></li>
                        </ul>
                    </center>
                    {% endif %}
                </div>
            </div>
        </div>
        </form>
    </div>

    <script>

        $("#btnBuscar").click(function () {
            $("#frm").submit();
        });

    </script>


{% endblock %}



