{% extends 'arbol_item.html' %}

{% block content %}
    <div class="title_right" style="background-color:#ccc">
        <div class="x_title">
            <a href='/'><strong>INICIO</strong></a> --
            <a href='/clientes/listado'><strong>LISTA DE CLIENTES</strong></a> --
            <strong>DATOS DEL CLIENTE</strong> --
            <a href='/tramites/listado/{{ cliente_form.instance.id }}'><strong>HISTORIAL DE TRAMITES</strong></a>
        </div>
    </div>
    <div class="clearfix"></div>

    <form id="demo-form2" method="post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
    <div class="row">

        <div class="col-md-10 col-sm-10 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><strong>DATOS PERSONALES</strong></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <br />
                    <!--div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Apellido</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.foto }}
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                        </div>
                    </div-->
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Apellido</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.apellido }}
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Nombre</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.nombre }}
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Tipo de Documento</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.tipo_documento }}
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Número</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.numero_documento }}
                                <span class="fa fa-sort-numeric-asc form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">CUIL</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ cliente_form.cuil }}
                                <span class="fa fa-sort-numeric-asc form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Fecha de Nacimiento</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.fecha_nacimiento }}
                                <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Sexo</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.sexo }}
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Edad</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Edad" value="{{ persona.edad }}" readonly>
                                <span class="fa fa-sort-numeric-asc form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Estado Civil</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.estado_civil }}
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Obra Social</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.obra_social }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Nivel de Educación</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.nivel_educacion }}
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Profesión</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form.profesion }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="fullname" class="col-md-12 col-sm-12 col-xs-12">Situación Laboral</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ cliente_form.situacion_laboral }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x_panel">

                <div class="x_content">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <br>
                        <br>
                        <input type="button" class="btn btn-primary" onclick="window.location='/clientes/listado/'" value="Cancelar"/>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </form>

    <script>
        $("#id_pais").change(function(){

            $('#id_provincia').html("");
            $('#id_provincia').append("<option value='' selected='selected'>---------</option>");

            $('#id_departamento').html("");
            $('#id_departamento').append("<option value='' selected='selected'>---------</option>");

            traerDomicilio($(this).val(), 1);

        });

        $("#id_provincia").change( function(){

            $('#id_departamento').html("");
            $('#id_departamento').append("<option value='' selected='selected'>---------</option>");

            traerDomicilio($(this).val(), 2);

        });

        $("#id_departamento").change( function(){
            $('#id_localidad').html("");
            $('#id_localidad').append("<option value='' selected='selected'>---------</option>");

            traerDomicilio($(this).val(), 3);
        });

        function traerDomicilio(id, tipo){
            $.ajax({
                type:"post",
                url:"/clientes/domicilios_ajax/",
                data: {
                    'id': id,
                    'tipo': tipo,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data){
                    if(tipo == 1){
                        $('#id_provincia').html("");
                        $('#id_departamento').html("");
                        $('#id_provincia').append("<option value='' selected='selected'>---------</option>");
                        $('#id_departamento').append("<option value='' selected='selected'>---------</option>");

                        for(var i=0; i<data.length; i++){
                            $('#id_provincia').append("<option value="+data[i].pk+">"+data[i].fields.nombre+"</option>");
                        }
                    }

                    if(tipo == 2){
                        $('#id_departamento').html("");
                        $('#id_departamento').append("<option value='' selected='selected'>---------</option>");
                        for(var i=0; i<data.length; i++){
                            $('#id_departamento').append("<option value="+data[i].pk+">"+data[i].fields.nombre+"</option>");
                        }
                    }

                    if(tipo == 3){
                        $('#id_localidad').html("");
                        $('#id_localidad').append("<option value='' selected='selected'>---------</option>");
                        for(var i=0; i<data.length; i++){
                            $('#id_localidad').append("<option value="+data[i].pk+">"+data[i].fields.nombre+"</option>");
                        }
                    }


                }

            });
        }

    </script>

{% endblock %}
