{% extends 'arbol_item.html' %}

{% block content %}

<div class="title_right" style="background-color:#ccc">
    <div class="x_title">
        <a href='/seguridad/perfil/listado'><strong>LISTADO</strong></a>
    </div>

</div>

{% for msg in messages %}

    <strong>{{ msg }}</strong>
    <br><br>

{% endfor %}

{% if form.non_field_errors %}

    <strong>{{form.non_field_errors}}</strong>

    <br>

{% endif %}

<form action="" method="post">

    {% csrf_token %}

    <div style="width:600px">

        <div class="x_panel">
            <div class="x_content">

                {{form.as_p}}

            </div>

        </div>

        <br>
        <input type="submit" value="Guardar" id="btnGuardar" class="btn btn-primary">
    </div>
</form>

{% endblock %}